@if (Skeleton)
{
    <MudPaper Style="background-color:transparent;" Elevation="0">
        <div class="media-cover-container">
            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Class="rounded-lg" Height="100%" Width="100%" />
        </div>

        @if (FooterVisible)
        {
            <div class="media-cover-text">
                <MudStack AlignItems="AlignItems.Center" Spacing="0">
                    <MudSkeleton Animation="Animation.Wave" Height="100%" Width="80%" />
                    <MudSkeleton Animation="Animation.Wave" Height="100%" Width="50%" />
                </MudStack>
            </div>
        }
    </MudPaper>
}
else
{
    <MudPaper Style="background-color:transparent;" Elevation="0">
        <a class="media-cover-link" href="@Href">
            <div class="media-cover-container">
                @if (!string.IsNullOrEmpty(Model.PosterPictureHref))
                {
                    <MudImage Src="@Model.PosterPictureHref" Alt="@Model.Title" Class="rounded-lg" Style="height: 100%;" Elevation="1" Fluid="true" ObjectFit="ObjectFit.Cover" />
                }
                else
                {
                    <div class="media-cover-placeholder rounded-lg">
                        <MudIcon Icon="@Icons.Material.Outlined.Album" Style="font-size: 48px; opacity: 0.3;" />
                    </div>
                }
            </div>
        </a>

        @if (FooterVisible)
        {
            <div class="media-cover-text">
                <MudStack AlignItems="AlignItems.Center" Spacing="0">
                    <MudText Class="media-cover-text" Typo="Typo.body2">@Model.Title</MudText>
                    <MudText Class="media-cover-text" Typo="Typo.caption">@Model.AdditionalInformations</MudText>
                </MudStack>
            </div>
        }
    </MudPaper>
}

@code {
    [Parameter] public bool Skeleton { get; set; }
    [Parameter] public required MediaPosterViewModel Model { get; set; }
    [Parameter] public bool FooterVisible { get; set; }
    [Parameter] public string Href { get; set; } = "#";
}
