@using K7.Clients.Shared.Enums
@typeparam TItem
@inject IStringLocalizer<SharedResource> S

<div class="browse-view">
    <div class="browse-view-toolbar">
        <div class="browse-view-toolbar-start">
            @ToolbarContent
        </div>
        <div class="browse-view-toolbar-end">
            @if (_availableModes.Count > 1)
            {
                @foreach (var mode in _availableModes)
                {
                    var m = mode;
                    <button class="k7-icon-btn" type="button" @onclick="() => SetViewModeAsync(m)" aria-label="@GetModeIcon(m)"><i class="ph ph-@GetModeIcon(m)"></i></button>
                }
            }
            @if (_currentMode is BrowseViewMode.Grid)
            {
                <button class="k7-icon-btn" type="button" @onclick="() => _settingsOpen = !_settingsOpen" aria-label="settings"><i class="ph ph-sliders-horizontal"></i></button>
            }
        </div>
    </div>

    @if (_settingsOpen && _currentMode is BrowseViewMode.Grid)
    {
        <div class="browse-view-settings">
            <K7Slider TValue="int" Value="_itemWidth" ValueChanged="OnItemWidthChanged" Step="10" Color="primary" Class="mx-4">
                @S["ItemSize"]: @_itemWidth px
            </K7Slider>
            <K7Slider TValue="int" Value="_spacing" ValueChanged="OnSpacingChanged" Step="2" Color="primary" Class="mx-4">
                @S["Spacing"]: @_spacing px
            </K7Slider>
        </div>
    }

    @if (Loading)
    {
        @if (LoadingContent is not null)
        {
            @LoadingContent
        }
        else
        {
            <div class="d-flex flex-col pa-16">
                <K7Spinner />
            </div>
        }
    }
    else if (Items is null || Items.Count == 0)
    {
        @if (EmptyContent is not null)
        {
            @EmptyContent
        }
        else
        {
            <div class="d-flex flex-col pa-16">
                <K7Icon Name=""magnifying-glass"Off" Style="font-size: 64px; opacity: 0.3;" />
            </div>
        }
    }
    else
    {
        @switch (_currentMode)
        {
            case BrowseViewMode.Grid when GridTemplate is not null:
                <div class="browse-view-grid" data-nav-grid="true"
                     style="--item-width: @(_itemWidth)px; --grid-gap: @(_spacing)px;"
                     @ref="_gridRef">
                    <Virtualize Items="_rows" Context="row" ItemSize="_estimatedRowHeight" OverscanCount="2">
                        <div class="browse-view-grid-row" style="grid-template-columns: repeat(@(CalculateColumnCount()), @(_itemWidth)px);">
                            @foreach (var item in row)
                            {
                                @GridTemplate(item)
                            }
                        </div>
                    </Virtualize>
                </div>
                break;

            case BrowseViewMode.Table when TableHeaderContent is not null && TableRowTemplate is not null:
                <div class="browse-view-table">
                    <table class="browse-view-table-el">
                        <thead>
                            <tr>
                                @TableHeaderContent
                            </tr>
                        </thead>
                        <tbody>
                            <Virtualize Items="Items" Context="item" ItemSize="48" OverscanCount="10">
                                @TableRowTemplate(item)
                            </Virtualize>
                        </tbody>
                    </table>
                </div>
                break;

            case BrowseViewMode.List when ListTemplate is not null:
                <div class="browse-view-list">
                    <Virtualize Items="Items" Context="item" ItemSize="ListItemHeight" OverscanCount="5">
                        @ListTemplate(item)
                    </Virtualize>
                </div>
                break;
        }
    }
</div>
