@page "/settings"
@inject ThemeService ThemeService
@inject IDeviceService DeviceService
@inject IK7ServerService K7ServerService
@inject IDialogService DialogService
<PageTitle>Settings</PageTitle>

<MudSwitch @bind-Value="@ThemeService.DarkModeEnabled" Color="Color.Primary" Class="ma-4" T="bool" Label="Dark mode" />
<MudSelect T="ThemeWrapper" Label="Theme" @bind-Value="@ThemeService.ThemeWrapper">
    @foreach (var themeWrapper in Themes.Collection)
    {
        <MudSelectItem Value="@themeWrapper">@themeWrapper?.Name</MudSelectItem>
    }
</MudSelect>

@if (DeviceService.GetOperatingSystem() == Server.Domain.Enums.OperatingSystem.Browser)
{
    <MudTextField @bind-Value="@_backendUrl" Label="K7 server URL" ReadOnly="true" Variant="Variant.Text" />
}
else
{
    <MudTextField @bind-Value="@_backendUrl" Label="K7 server URL" ReadOnly="true" Variant="Variant.Text" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Delete" OnAdornmentClick="ChangeBackendUrl" />
}

<MudText>Platform: @DeviceService.GetPlatform()</MudText>
<MudText>FormFactor: @_deviceType</MudText>
<MudText>HDR: @_hdrSupport</MudText>

<MudExpansionPanels>
    <MudExpansionPanel Text="Supported Codecs" MaxHeight="1000">
        <ul>
            @if (_supportedMediaFormats != null)
            {
                foreach (var supportedMediaFormat in _supportedMediaFormats)
                {
                    <li>@supportedMediaFormat.Id</li>
                }
            }
            else
            {
                <p>Loading...</p>
            }
        </ul>
    </MudExpansionPanel>
</MudExpansionPanels>
