@inject IAudioPlayerService Audio
@inject IMediaService K7ServerService
@inject IK7ServerService ApiClient
@inject IFeatureAccessService FeatureAccess
@inject IDownloadManager DownloadManager
@inject IDeviceService DeviceService
@inject IK7Snackbar Snackbar
@inject IK7DialogService DialogService
@inject IStringLocalizer<TrackContextMenu> L
@inject IStringLocalizer<SharedResource> S

<span @onclick:stopPropagation="true">
    <K7Menu>
        <ActivatorContent>
            <button type="button" class="k7-icon-btn k7-icon-btn--sm focusable" aria-label="Menu"><i class="ph ph-dots-three-vertical"></i></button>
        </ActivatorContent>
        <ChildContent>
        <K7MenuItem Icon="play-circle" OnClick="PlayNext">@L["PlayNext"]</K7MenuItem>
        <K7MenuItem Icon="queue" OnClick="AddToQueue">@L["AddToQueue"]</K7MenuItem>
        @if (_canCreatePlaylist)
        {
            <hr class="k7-divider" />
            <K7MenuItem Icon="plus-circle" OnClick="AddToPlaylist">@L["AddToPlaylist"]</K7MenuItem>
        }
        @if (DeviceService.GetClientType() != ClientType.Web)
        {
            <hr class="k7-divider" />
            <K7MenuItem Icon="download-simple" OnClick="DownloadOffline">@L["DownloadOffline"]</K7MenuItem>
        }
        @if (!string.IsNullOrEmpty(Track.Artist))
        {
            <hr class="k7-divider" />
            <K7MenuItem Icon="radio" OnClick="RadioArtist">@string.Format(L["RadioArtist"], Track.Artist)</K7MenuItem>
        }
        @if (!string.IsNullOrEmpty(Track.Genre))
        {
            <K7MenuItem Icon="broadcast" OnClick="RadioGenre">@string.Format(L["RadioGenre"], Track.Genre)</K7MenuItem>
        }
        </ChildContent>
    </K7Menu>
</span>
