<MudItem Elevation="0">
    <div class="media-item-container">
        <MudImage Src="@MediaItem.PosterPicture" Alt="Tata" Class="rounded-lg" Fluid="true" ObjectFit="ObjectFit.Contain" />

        @if (WatchedStatusEnabled && MediaItem.Watched)
        {
            <div class="media-item-watched">
                <MudIcon Size="Size.Small" class="ma-1" Color="Color.Success" Icon="@Icons.Material.Filled.CheckCircle" />
            </div>
        }

        @if (ProgressEnabled && !ProgressBarIsHidden())
        {
            <div class="media-item-progress-bar">
                <MudProgressLinear Size="Size.Small" Rounded="true" Color="Color.Primary" Value="@MediaItem.Progress" />
            </div>
        }

        @if (OverlayEnabled)
        {
            <a class="media-item-overlay" href="@("/movies/" + @MediaItem.Id)">
                <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.PlayArrow" />

                @* <MudMenu Icon="@Icons.Material.Filled.MoreVert" PositionAtCursor="true">
            <MudMenuItem>Profile</MudMenuItem>
            <MudMenuItem>My account</MudMenuItem>
            <MudMenuItem>Logout</MudMenuItem>
            </MudMenu> *@
                @* <MudMenu Dense="true">
            <ActivatorContent>
            <div class="media-item-overlay-more">
            <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Primary" />
            </div>
            </ActivatorContent>
            <ChildContent>
            <MudMenuItem>Mark as shown</MudMenuItem>
            <MudMenuItem>Add to...</MudMenuItem>
            <MudMenuItem>Remove from this section</MudMenuItem>
            <MudMenuItem>Download</MudMenuItem>
            <MudMenuItem>Edit metadata</MudMenuItem>
            <MudMenuItem>Refresh metadata</MudMenuItem>
            <MudMenuItem>File(s) informations</MudMenuItem>
            </ChildContent>
            </MudMenu> *@
            </a>
        }
    </div>

    <div class="media-item-text">
        <MudStack AlignItems="AlignItems.Center" Spacing="0">
            <MudLink Class="media-item-text" Typo="Typo.body2" Href="@("/movies/" + @MediaItem.Id)">@MediaItem.Title</MudLink>
            <MudText Class="media-item-text" Typo="Typo.caption">@MediaItem.AdditionalInformations</MudText>
        </MudStack>
    </div>

</MudItem>

@code {
    [Parameter]
    public required MediaItem MediaItem { get; set; }

    [Parameter]
    public bool OverlayEnabled { get; set; } = false;

    [Parameter]
    public bool ProgressEnabled { get; set; } = false;

    [Parameter]
    public bool WatchedStatusEnabled { get; set; } = false;

    private bool ProgressBarIsHidden() => MediaItem.Progress == 0 || MediaItem.Progress == 100;
}
