@page "/my-space/downloads"
@layout MySpaceLayout
@inject IStringLocalizer<MySpaceDownloadsPage> L
@inject IDeviceService DeviceService

<PageTitle>@L["PageTitle"]</PageTitle>

<div class="d-flex flex-col align-center pa-16">
    @if (DeviceService.GetClientType() != ClientType.Web)
    {
        <K7Icon Icon="@Phosphor.DownloadSimple" Style="font-size: 64px; opacity: 0.3;" />
        <h6>@L["PageTitle"]</h6>
    }
    else
    {
        <K7Icon Icon="@Phosphor.DownloadSimple" Style="font-size: 64px; opacity: 0.3;" />
        <p class="text-sm" Color="secondary">@L["NotAvailableOnWeb"]</p>
    }
</div>
