@page "/my-space/collections"
@layout MySpaceLayout
@using K7.Clients.Shared.Mappings
@using K7.Shared.Dtos.Entities.Collections
@using K7.Shared.Dtos.Requests
@inject ICollectionService K7ServerService
@inject IK7ServerService ApiClient
@inject NavigationManager NavigationManager
@inject IStringLocalizer<MySpaceCollectionsPage> L
@inject IStringLocalizer<LibraryGroup> LibrarySortL
@inject IStringLocalizer<SharedResource> S

<PageTitle>@L["PageTitle"]</PageTitle>

<BrowseView TItem="LiteCollectionDto"
              Items="_collections"
              Loading="_loading"
              PersistenceKey="my-space-collections"
              Class="my-space-library-browse"
              @ref="_browseView"
              OnColumnPickerRequested="OnColumnPickerRequested"
              DefaultItemWidth="160"
              DefaultSpacing="24"
              GridItemAspectRatio="1f"
              ListItemHeight="64">
    <ToolbarContent>
        <h5>@L["PageTitle"]</h5>
        <div class="flex-1"></div>
        <K7Select TValue="LibraryItemOrderingOption" Class="library-toolbar-sort" Value="_selectedSort" ValueChanged="OnSortChanged">
            @foreach (var opt in MySpaceLibraryBrowseSort.CollectionOptions)
            {
                <K7SelectItem Value="@opt" Text="@GetSortLabel(opt)">@GetSortLabel(opt)</K7SelectItem>
            }
        </K7Select>
        <K7Button Variant="filled" Color="primary" StartIcon="@Phosphor.Plus" OnClick="OpenCreateCollectionDialog" Disabled="@(!_canCreate)" Class="my-space-toolbar-new" AriaLabel="@L["New"]">
            <span class="my-space-toolbar-new__label">@L["New"]</span>
        </K7Button>
    </ToolbarContent>
    <EmptyContent>
        <div class="d-flex flex-col pa-16">
            <K7Icon Icon="@Phosphor.BookmarkSimple" Style="font-size: 64px; opacity: 0.3;" />
            <h6 Color="default" Style="opacity: 0.5;">@L["None"]</h6>
            <p class="text-sm" Color="secondary">@L["EmptyHint"]</p>
        </div>
    </EmptyContent>
    <GridTemplate Context="collection">
        @{
            var vm = collection.ToCardViewModel(ApiClient, GetCollectionSubtitle(collection));
            var useMosaic = LibraryItemBrowseMappings.UseMosaicCover(collection.CoverPicture, collection.PreviewPictures);
        }
        @if (useMosaic)
        {
            <MediaCard Model="vm"
                       Href="@GetCollectionHref(collection)"
                       Variant="MediaCardVariant.Cover"
                       FooterVisible="true"
                       ContextMenuEnabled="false"
                       HoverOverlayEnabled="true"
                       PlaceholderIcon="@Phosphor.BookmarkSimple">
                <CoverContent>
                    <K7CoverMosaic PreviewPictures="collection.PreviewPictures"
                                     PlaceholderIcon="@Phosphor.BookmarkSimple"
                                     PictureSize="MetadataPictureSize.Medium"
                                     Alt="@collection.Title"
                                     Class="media-card-mosaic" />
                </CoverContent>
            </MediaCard>
        }
        else
        {
            <MediaCard Model="vm"
                       Href="@GetCollectionHref(collection)"
                       Variant="MediaCardVariant.Cover"
                       FooterVisible="true"
                       ContextMenuEnabled="false"
                       HoverOverlayEnabled="true"
                       PlaceholderIcon="@Phosphor.BookmarkSimple" />
        }
    </GridTemplate>
    <TableContent>
        <K7DataTable TItem="LiteCollectionDto"
                     ServerData="LoadTableDataAsync"
                     ActiveSortKey="@_activeSortKey"
                     ActiveSortDirection="@_activeSortDirection"
                     OnSortChanged="OnTableSortChanged"
                     OnRowClick="NavigateToCollection"
                     RowHeight="56"
                     ShowToolbar="false"
                     Surface="false"
                     @ref="_dataTable">
            <K7DataColumn TItem="LiteCollectionDto" Title="@S["Title"]" SortKey="title" Hideable="false">
                <CellTemplate Context="collection">
                    <div class="library-table-title">
                        <LibraryItemCoverThumb CoverPicture="collection.CoverPicture"
                                                PreviewPictures="collection.PreviewPictures"
                                                PreferPreviewWhenEmpty="@(collection.ItemCount == 0)"
                                                PlaceholderIcon="@Phosphor.BookmarkSimple"
                                                Alt="@collection.Title" />
                        <p class="text-sm">@collection.Title</p>
                    </div>
                </CellTemplate>
            </K7DataColumn>
            <K7DataColumn TItem="LiteCollectionDto" Title="@L["ItemsColumn"]" Width="120px" VisibleOnMobile="false">
                <CellTemplate Context="collection">
                    <span>@GetCollectionItemCountLabel(collection)</span>
                </CellTemplate>
            </K7DataColumn>
            <K7DataColumn TItem="LiteCollectionDto" Title="@L["Visibility"]" Width="120px" VisibleOnMobile="true">
                <CellTemplate Context="collection">
                    <span>@(collection.IsPublic ? L["Public"] : L["Private"])</span>
                </CellTemplate>
            </K7DataColumn>
            <K7DataColumn TItem="LiteCollectionDto" Title="@LibrarySortL["SortRecentActivity"]" SortKey="lastModified" Width="180px" VisibleOnMobile="false" Visible="false">
                <CellTemplate Context="collection">
                    <span>@collection.LastModified.ToString("d")</span>
                </CellTemplate>
            </K7DataColumn>
        </K7DataTable>
    </TableContent>
    <ListTemplate Context="collection">
        <LibraryBrowseListRow>
            <a href="@GetCollectionHref(collection)" class="library-list-item focusable">
                <LibraryItemCoverThumb CoverPicture="collection.CoverPicture"
                                        PreviewPictures="collection.PreviewPictures"
                                        PreferPreviewWhenEmpty="@(collection.ItemCount == 0)"
                                        PlaceholderIcon="@Phosphor.BookmarkSimple"
                                        Alt="@collection.Title" />
                <div class="library-list-item-info">
                    <p class="library-list-item-title">@collection.Title</p>
                    <span class="library-list-item-secondary">@GetCollectionSubtitle(collection)</span>
                </div>
            </a>
        </LibraryBrowseListRow>
    </ListTemplate>
</BrowseView>
