@page "/my-space/playlists"
@layout MySpaceLayout
@using K7.Clients.Shared.Mappings
@using K7.Clients.Shared.UI.Helpers
@using K7.Shared.Dtos.Entities.Playlists
@using K7.Shared.Dtos.Federation.Social
@using K7.Shared.Dtos.Requests
@using K7.Server.Domain.Enums
@inject IPlaylistService K7ServerService
@inject IK7ServerService ApiClient
@inject NavigationManager NavigationManager
@inject IStringLocalizer<MySpacePlaylistsPage> L
@inject IStringLocalizer<LibraryGroup> LibrarySortL
@inject IStringLocalizer<SharedResource> S
@inject IServerPreferencesService ServerPreferences

<PageTitle>@L["PageTitle"]</PageTitle>

@if (_showShared)
{
    <div class="my-space-library-browse page-scrollable">
        <div class="my-space-shared-toolbar">
            <h5>@L["SharedTitle"]</h5>
            <div class="flex-1"></div>
            <K7Switch Value="_showShared" ValueChanged="OnShowSharedChanged" Label="@L["ShowShared"]" />
        </div>
        @if (_loading)
        {
            <K7Spinner />
        }
        else if (_sharedPlaylists.Count == 0)
        {
            <p class="text-secondary pa-8">@L["SharedEmpty"]</p>
        }
        else
        {
            <div class="my-space-shared-grid">
                @foreach (var item in _sharedPlaylists)
                {
                    <article class="my-space-shared-card" @key="@($"{item.Owner.IsFederated}-{item.PlaylistId}")">
                        <button type="button" class="my-space-shared-card__link focusable" @onclick="@(() => NavigationManager.NavigateTo(SocialUserNavigation.GetProfileHref(item.Owner)))">
                            <h6>
                                @item.Title
                                @if (item.IsSmart)
                                {
                                    <K7Icon Name="sparkle" IconSize="@K7IconSize.Sm" Color="secondary" Class="ml-1" />
                                }
                            </h6>
                            <p class="text-sm text-secondary">@item.Owner.DisplayName</p>
                            <p class="text-sm">@item.ItemCount @L["Items"]</p>
                        </button>
                    </article>
                }
            </div>
        }
    </div>
}
else
{
<BrowseView TItem="LitePlaylistDto"
              Items="_playlists"
              Loading="_loading"
              PersistenceKey="my-space-playlists"
              Class="my-space-library-browse"
              @ref="_browseView"
              OnColumnPickerRequested="OnColumnPickerRequested"
              DefaultItemWidth="160"
              DefaultSpacing="24"
              GridItemAspectRatio="1f"
              ListItemHeight="64">
    <ToolbarContent>
        <h5>@L["PageTitle"]</h5>
        <div class="flex-1"></div>
        <K7Switch Value="_showShared" ValueChanged="OnShowSharedChanged" Label="@L["ShowShared"]" />
        <K7ButtonGroup TValue="MediaType?" Options="_mediaTypeOptions" Value="_mediaTypeFilter" ValueChanged="SetMediaTypeFilter" AriaLabel="@L["PageTitle"]" />
        <K7Select TValue="LibraryItemOrderingOption" Class="library-toolbar-sort" Value="_selectedSort" ValueChanged="OnSortChanged">
            @foreach (var opt in MySpaceLibraryBrowseSort.PlaylistOptions)
            {
                <K7SelectItem Value="@opt" Text="@GetSortLabel(opt)">@GetSortLabel(opt)</K7SelectItem>
            }
        </K7Select>
        <K7Menu Class="my-space-toolbar-new" Disabled="@(!_canCreate)">
            <ActivatorContent>
                <K7Button Variant="filled" Color="primary" StartIcon="@Phosphor.Plus" Disabled="@(!_canCreate)" AriaLabel="@L["New"]">
                    <span class="my-space-toolbar-new__label">@L["New"]</span>
                </K7Button>
            </ActivatorContent>
            <ChildContent>
                <K7MenuItem Icon="queue" OnClick="OpenCreatePlaylistDialog">Playlist</K7MenuItem>
                <K7MenuItem Icon="sparkle" OnClick="OpenCreateSmartPlaylistDialog">@L["SmartPlaylist"]</K7MenuItem>
                @if (_musicIntelligenceAvailable)
                {
                    <K7MenuItem Icon="magic-wand" OnClick="OpenAiPlaylistDialog">@L["AiPlaylist"]</K7MenuItem>
                }
            </ChildContent>
        </K7Menu>
    </ToolbarContent>
    <EmptyContent>
        <div class="d-flex flex-col pa-16">
            <K7Icon Icon="@Phosphor.Queue" Style="font-size: 64px; opacity: 0.3;" />
            <h6 Color="default" Style="opacity: 0.5;">@L["None"]</h6>
            <p class="text-sm" Color="secondary">@L["EmptyHint"]</p>
        </div>
    </EmptyContent>
    <GridTemplate Context="playlist">
        @{
            var vm = playlist.ToCardViewModel(ApiClient, GetPlaylistSubtitle(playlist));
            var placeholderIcon = playlist.IsSmartPlaylist ? Phosphor.Sparkle : Phosphor.Queue;
        }
        <MediaCard Model="vm"
                   Href="@GetPlaylistHref(playlist)"
                   Variant="MediaCardVariant.Cover"
                   FooterVisible="true"
                   ContextMenuEnabled="false"
                   HoverOverlayEnabled="true"
                   PlaceholderIcon="@placeholderIcon">
            <CoverContent>
                <K7CoverMosaic CoverPicture="playlist.CoverPicture"
                               PreviewPictures="playlist.PreviewPictures"
                               PlaceholderIcon="@placeholderIcon"
                               PictureSize="MetadataPictureSize.Medium"
                               Alt="@playlist.Title"
                               Class="media-card-mosaic" />
            </CoverContent>
        </MediaCard>
    </GridTemplate>
    <TableContent>
        <K7DataTable TItem="LitePlaylistDto"
                     ServerData="LoadTableDataAsync"
                     ActiveSortKey="@_activeSortKey"
                     ActiveSortDirection="@_activeSortDirection"
                     OnSortChanged="OnTableSortChanged"
                     OnRowClick="NavigateToPlaylist"
                     RowHeight="56"
                     ShowToolbar="false"
                     Surface="false"
                     @ref="_dataTable">
            <K7DataColumn TItem="LitePlaylistDto" Title="@S["Title"]" SortKey="title" Hideable="false">
                <CellTemplate Context="playlist">
                    <div class="library-table-title">
                        <LibraryItemCoverThumb CoverPicture="playlist.CoverPicture"
                                                PreviewPictures="playlist.PreviewPictures"
                                                PreferPreviewWhenEmpty="@(playlist.ItemCount == 0)"
                                                PlaceholderIcon="@(playlist.IsSmartPlaylist ? Phosphor.Sparkle : Phosphor.Queue)"
                                                Alt="@playlist.Title" />
                        <p class="text-sm">
                            @playlist.Title
                            @if (playlist.IsSmartPlaylist)
                            {
                                <K7Icon Name="sparkle" IconSize="@K7IconSize.Sm" Color="secondary" Class="ml-1" />
                            }
                        </p>
                    </div>
                </CellTemplate>
            </K7DataColumn>
            <K7DataColumn TItem="LitePlaylistDto" Title="@L["ItemsColumn"]" Width="120px" VisibleOnMobile="false">
                <CellTemplate Context="playlist">
                    <span>@GetPlaylistItemCountLabel(playlist)</span>
                </CellTemplate>
            </K7DataColumn>
            <K7DataColumn TItem="LitePlaylistDto" Title="@LibrarySortL["SortLastListenedRecent"]" SortKey="lastListened" Width="180px">
                <CellTemplate Context="playlist">
                    <span>@FormatLastListenedOrDash(playlist.LastListenedAt)</span>
                </CellTemplate>
            </K7DataColumn>
        </K7DataTable>
    </TableContent>
    <ListTemplate Context="playlist">
        <LibraryBrowseListRow>
            <a href="@GetPlaylistHref(playlist)" class="library-list-item focusable">
                <LibraryItemCoverThumb CoverPicture="playlist.CoverPicture"
                                        PreviewPictures="playlist.PreviewPictures"
                                        PreferPreviewWhenEmpty="@(playlist.ItemCount == 0)"
                                        PlaceholderIcon="@(playlist.IsSmartPlaylist ? Phosphor.Sparkle : Phosphor.Queue)"
                                        Alt="@playlist.Title" />
                <div class="library-list-item-info">
                    <p class="library-list-item-title">
                        @playlist.Title
                        @if (playlist.IsSmartPlaylist)
                        {
                            <K7Icon Name="sparkle" IconSize="@K7IconSize.Sm" Color="secondary" Class="ml-1" />
                        }
                    </p>
                    <span class="library-list-item-secondary">@GetPlaylistSubtitle(playlist)</span>
                </div>
            </a>
        </LibraryBrowseListRow>
    </ListTemplate>
</BrowseView>
}
