@page "/my-space/playlists"
@layout MySpaceLayout
@using K7.Clients.Shared.Mappings
@using K7.Shared.Dtos.Entities.Playlists
@using K7.Shared.Dtos.Requests
@using K7.Server.Domain.Enums
@inject IPlaylistService K7ServerService
@inject IK7ServerService ApiClient
@inject NavigationManager NavigationManager
@inject IStringLocalizer<MySpacePlaylistsPage> L
@inject IStringLocalizer<LibraryGroup> LibrarySortL
@inject IStringLocalizer<SharedResource> S
@inject IServerPreferencesService ServerPreferences

<PageTitle>@L["PageTitle"]</PageTitle>

<BrowseView TItem="LitePlaylistDto"
              Items="_playlists"
              Loading="_loading"
              PersistenceKey="my-space-playlists"
              DefaultItemWidth="160"
              DefaultSpacing="24"
              GridItemAspectRatio="1f"
              ListItemHeight="64">
    <ToolbarContent>
        <h5>@L["PageTitle"]</h5>
        <div class="flex-1"></div>
        <K7ButtonGroup TValue="MediaType?" Options="_mediaTypeOptions" Value="_mediaTypeFilter" ValueChanged="SetMediaTypeFilter" AriaLabel="@L["PageTitle"]" />
        <K7Select TValue="LibraryItemOrderingOption" Class="library-toolbar-sort" Value="_selectedSort" ValueChanged="OnSortChanged">
            @foreach (var opt in MySpaceLibraryBrowseSort.PlaylistOptions)
            {
                <K7SelectItem Value="@opt" Text="@GetSortLabel(opt)">@GetSortLabel(opt)</K7SelectItem>
            }
        </K7Select>
        <K7Menu>
            <ActivatorContent>
                <K7Button Variant="filled" Color="primary" StartIcon="plus" Disabled="@(!_canCreate)">@L["New"]</K7Button>
            </ActivatorContent>
            <ChildContent>
                <K7MenuItem Icon="queue" OnClick="OpenCreatePlaylistDialog">Playlist</K7MenuItem>
                <K7MenuItem Icon="sparkle" OnClick="OpenCreateSmartPlaylistDialog">@L["SmartPlaylist"]</K7MenuItem>
                @if (_musicIntelligenceAvailable)
                {
                    <K7MenuItem Icon="magic-wand" OnClick="OpenAiPlaylistDialog">@L["AiPlaylist"]</K7MenuItem>
                }
            </ChildContent>
        </K7Menu>
    </ToolbarContent>
    <EmptyContent>
        <div class="d-flex flex-col pa-16">
            <K7Icon Icon="@Phosphor.Queue" Style="font-size: 64px; opacity: 0.3;" />
            <h6 Color="default" Style="opacity: 0.5;">@L["None"]</h6>
            <p class="text-sm" Color="secondary">@L["EmptyHint"]</p>
        </div>
    </EmptyContent>
    <GridTemplate Context="playlist">
        @{
            var vm = playlist.ToCardViewModel(ApiClient, GetPlaylistSubtitle(playlist));
            var useMosaic = LibraryItemBrowseMappings.UseMosaicCover(playlist.CoverPicture, playlist.PreviewPictures);
        }
        @if (useMosaic)
        {
            <MediaCard Model="vm"
                       Href="@GetPlaylistHref(playlist)"
                       Variant="MediaCardVariant.Cover"
                       FooterVisible="true"
                       PlaceholderIcon="@(playlist.IsSmartPlaylist ? Phosphor.Sparkle : Phosphor.Queue)">
                <CoverContent>
                    <K7CoverMosaic PreviewPictures="playlist.PreviewPictures"
                                     PlaceholderIcon="@(playlist.IsSmartPlaylist ? Phosphor.Sparkle : Phosphor.Queue)"
                                     PictureSize="MetadataPictureSize.Medium"
                                     Alt="@playlist.Title"
                                     Class="media-card-mosaic" />
                </CoverContent>
            </MediaCard>
        }
        else
        {
            <MediaCard Model="vm"
                       Href="@GetPlaylistHref(playlist)"
                       Variant="MediaCardVariant.Cover"
                       FooterVisible="true"
                       PlaceholderIcon="@(playlist.IsSmartPlaylist ? Phosphor.Sparkle : Phosphor.Queue)" />
        }
    </GridTemplate>
    <TableColgroupContent>
        <col style="width: 56px" />
        <col />
        <col style="width: 120px" />
        <col style="width: 180px" />
    </TableColgroupContent>
    <TableHeaderContent>
        <th>@S["Image"]</th>
        <th>@S["Title"]</th>
        <th>@L["ItemsColumn"]</th>
        <th>@LibrarySortL["SortLastListenedRecent"]</th>
    </TableHeaderContent>
    <TableRowTemplate Context="row">
        @{
            var playlist = row.Item;
        }
        <td>
            <a href="@GetPlaylistHref(playlist)" class="my-space-library-item-link">
                <LibraryItemCoverThumb CoverPicture="playlist.CoverPicture"
                                        PreviewPictures="playlist.PreviewPictures"
                                        PreferPreviewWhenEmpty="@(playlist.ItemCount == 0)"
                                        PlaceholderIcon="@(playlist.IsSmartPlaylist ? Phosphor.Sparkle : Phosphor.Queue)"
                                        Alt="@playlist.Title" />
            </a>
        </td>
        <td>
            <a href="@GetPlaylistHref(playlist)" class="my-space-library-item-link">
                <span class="library-list-item-title">
                    @playlist.Title
                    @if (playlist.IsSmartPlaylist)
                    {
                        <K7Icon Name="sparkle" IconSize="@K7IconSize.Sm" Color="secondary" Class="ml-1" />
                    }
                </span>
            </a>
        </td>
        <td>
            <a href="@GetPlaylistHref(playlist)" class="my-space-library-item-link">
                <span class="library-list-item-secondary">@GetPlaylistItemCountLabel(playlist)</span>
            </a>
        </td>
        <td>
            <a href="@GetPlaylistHref(playlist)" class="my-space-library-item-link">
                <span class="library-list-item-secondary">@FormatLastListenedOrDash(playlist.LastListenedAt)</span>
            </a>
        </td>
    </TableRowTemplate>
    <ListTemplate Context="playlist">
        <LibraryBrowseListRow>
            <a href="@GetPlaylistHref(playlist)" class="library-list-item focusable">
                <LibraryItemCoverThumb CoverPicture="playlist.CoverPicture"
                                        PreviewPictures="playlist.PreviewPictures"
                                        PreferPreviewWhenEmpty="@(playlist.ItemCount == 0)"
                                        PlaceholderIcon="@(playlist.IsSmartPlaylist ? Phosphor.Sparkle : Phosphor.Queue)"
                                        Alt="@playlist.Title" />
                <div class="library-list-item-info">
                    <p class="library-list-item-title">
                        @playlist.Title
                        @if (playlist.IsSmartPlaylist)
                        {
                            <K7Icon Name="sparkle" IconSize="@K7IconSize.Sm" Color="secondary" Class="ml-1" />
                        }
                    </p>
                    <span class="library-list-item-secondary">@GetPlaylistSubtitle(playlist)</span>
                </div>
            </a>
        </LibraryBrowseListRow>
    </ListTemplate>
</BrowseView>
