@page "/my-space/playlists"
@layout MySpaceLayout
@using K7.Shared.Dtos.Entities.Playlists
@using K7.Server.Domain.Enums
@inject IPlaylistService K7ServerService
@inject IK7ServerService ApiClient
@inject NavigationManager NavigationManager
@inject IStringLocalizer<MySpacePlaylistsPage> L
@inject IServerPreferencesService ServerPreferences

<PageTitle>@L["PageTitle"]</PageTitle>

<BrowseView TItem="LitePlaylistDto"
              Items="_playlists"
              Loading="_loading"
              PersistenceKey="my-space-playlists"
              DefaultItemWidth="200"
              DefaultSpacing="8"
              GridItemAspectRatio="1.3f">
    <ToolbarContent>
        <h5>@L["PageTitle"]</h5>
        <div class="flex-1"></div>
        <K7ButtonGroup TValue="MediaType?" Options="_mediaTypeOptions" Value="_mediaTypeFilter" ValueChanged="SetMediaTypeFilter" AriaLabel="@L["PageTitle"]" />
        <K7Menu>
            <ActivatorContent>
                <K7Button Variant="filled" Color="primary" StartIcon="plus" Disabled="@(!_canCreate)">@L["New"]</K7Button>
            </ActivatorContent>
            <ChildContent>
                <K7MenuItem Icon="queue" OnClick="OpenCreatePlaylistDialog">Playlist</K7MenuItem>
                <K7MenuItem Icon="sparkle" OnClick="OpenCreateSmartPlaylistDialog">@L["SmartPlaylist"]</K7MenuItem>
                @if (_musicIntelligenceAvailable)
                {
                    <K7MenuItem Icon="magic-wand" OnClick="OpenAiPlaylistDialog">@L["AiPlaylist"]</K7MenuItem>
                }
            </ChildContent>
        </K7Menu>
    </ToolbarContent>
    <EmptyContent>
        <div class="d-flex flex-col pa-16">
            <K7Icon Icon="@Phosphor.Queue" Style="font-size: 64px; opacity: 0.3;" />
            <h6 Color="default" Style="opacity: 0.5;">@L["None"]</h6>
            <p class="text-sm" Color="secondary">@L["EmptyHint"]</p>
        </div>
    </EmptyContent>
    <GridTemplate Context="playlist">
        <K7Paper Outlined="true" Class="playlist-card" tabindex="0" role="button"
                 @onclick="() => GoToPlaylist(playlist)"
                 @onkeydown="(e) => OnPlaylistKeyDown(e, playlist)"
                 Style="cursor: pointer;">
            <div class="d-flex flex-col">
                @if (playlist.CoverPicture is not null)
                {
                    <K7Image Src="@GetCoverUrl(playlist)"
                              Width="120"
                              ObjectFit="cover"
                              Class="rounded"
                              loading="lazy" />
                }
                else
                {
                    <div class="playlist-cover-placeholder">
                        <K7Icon Name="@(playlist.IsSmartPlaylist ? "sparkle" : "queue")"
                                 Style="font-size: 48px; opacity: 0.3;" />
                    </div>
                }
                <div class="d-flex align-center">
                    <p class="text-subtitle1 playlist-title text-center">@playlist.Title</p>
                    @if (playlist.IsSmartPlaylist)
                    {
                        <K7Icon Name="sparkle"  IconSize="@K7IconSize.Sm" Color="secondary" />
                    }
                </div>
                <span class="text-caption" Color="secondary">
                    @playlist.ItemCount @GetItemLabel(playlist.MediaType)
                </span>
            </div>
        </K7Paper>
    </GridTemplate>
</BrowseView>
