@page "/collections/{Id}"

@using K7.Clients.Shared.Mappings

@using K7.Clients.Shared.Models

@using K7.Shared.Dtos.Entities.Collections

@using K7.Shared.Dtos.Entities.Medias

@using K7.Server.Domain.Enums

@inject ICollectionService K7ServerService

@inject IK7ServerService ApiClient

@inject IStringLocalizer<CollectionDetailPage> L

@inject IStringLocalizer<SharedResource> S



<PageTitle>@(_collection?.Title ?? L["Header"])</PageTitle>



@if (_loading)

{

    <div class="d-flex flex-col pa-16 align-center">

        <K7Spinner />

    </div>

}

else if (_collection is null)

{

    <div class="d-flex flex-col pa-16 align-center">

        <K7Icon Icon="@Phosphor.BookmarkSimple" Style="font-size: 64px; opacity: 0.3;" />

        <h6 Color="default" Style="opacity: 0.5;">@L["NotFound"]</h6>

    </div>

}

else

{

    <div class="playlist-detail-page page-scrollable">

        <div class="playlist-header">

            <div class="playlist-header-cover">

                <K7CoverMosaic CoverPicture="@(_showHeaderPlaceholder ? null : _collection.CoverPicture)"

                                ImageUrls="_headerPreviewUrls"

                                PreferPreviewWhenEmpty="@_showHeaderPlaceholder"

                                PlaceholderIcon="@Phosphor.BookmarkSimple"

                                PictureSize="MetadataPictureSize.Medium"

                                Alt="@_collection.Title" />

            </div>



            <div class="playlist-header-info">

                <p class="text-overline">@L["Header"]</p>

                <h4>@_collection.Title</h4>



                @if (!string.IsNullOrEmpty(_collection.Description))

                {

                    <p class="text-sm mt-1" Color="secondary">@_collection.Description</p>

                }



                <p class="text-sm mt-1" Color="secondary">

                    @_collection.ItemCount @L["Items"]

                    <span class="ml-2">

                        <K7Chip Size="xs" Variant="outlined">

                            @(_collection.IsPublic ? L["Public"] : L["Private"])

                        </K7Chip>

                    </span>

                </p>



                <div class="playlist-header-actions">

                    <K7IconButton Icon="@Phosphor.Pencil" OnClick="OpenEditDialog" />

                    <K7IconButton Icon="@Phosphor.Trash" Color="error" OnClick="ConfirmDelete" />

                </div>

            </div>

        </div>



        <BrowseView TItem="CollectionBrowseRow"

                      Items="_browseRows"

                      Loading="_loadingItems"

                      PersistenceKey="@($"collection-{Id}")"

                      Class="collection-detail-browse"

                      DefaultItemWidth="160"

                      DefaultSpacing="6"

                      GridItemAspectRatio="1.8f"

                      ListItemHeight="64"

                      @ref="_browseView"

                      OnColumnPickerRequested="OnColumnPickerRequested">

            <EmptyContent>

                <div class="d-flex flex-col pa-16 align-center">

                    <K7Icon Icon="@Phosphor.BookmarkSimple" Style="font-size: 48px; opacity: 0.3;" />

                    <p Color="secondary">@L["Empty"]</p>

                </div>

            </EmptyContent>

            <GridTemplate Context="row">

                @{

                    var vm = row.Media.ToCardViewModel(ApiClient, n => string.Format(S["SeasonNumber"], n));

                }

                @if (vm is not null)

                {

                    <MediaCard Model="vm"

                                Variant="@GetVariant(vm)"

                                Href="@GetItemHref(vm)"

                                FooterVisible="true"

                                OverlayEnabled="true"

                                ProgressEnabled="_canTrackProgress"

                                WatchedStatusEnabled="_canTrackProgress"

                                ExcludeMenuEnabled="_canExclude"

                                WatchStateMenuEnabled="_canSetWatchState"

                                IsAdmin="_isAdmin"

                                OnExcludeForSelf="() => ExcludeForSelf(vm)"

                                OnExcludeForOthers="() => ExcludeForOthers(vm)" />

                }

            </GridTemplate>

            <TableContent>
                <K7DataTable TItem="CollectionBrowseRow"
                             ServerData="LoadTableDataAsync"
                             ActiveSortKey="@_activeSortKey"
                             ActiveSortDirection="@_activeSortDirection"
                             OnSortChanged="OnTableSortChanged"
                             OnRowClick="NavigateToBrowseRow"
                             RowHeight="56"
                             ShowToolbar="false"
                             Surface="false"
                             @ref="_dataTable">
                    <K7DataColumn TItem="CollectionBrowseRow" Title="@S["Title"]" SortKey="title" Hideable="false">
                        <CellTemplate Context="row">
                            <div class="library-table-title">
                                <K7CoverMosaic ImageUrls="@GetItemPreviewUrls(row.Media)"
                                                PlaceholderIcon="@Phosphor.Image"
                                                PictureSize="MetadataPictureSize.Small"
                                                Alt="@row.Media.Title"
                                                Class="collection-table-cover" />
                                <p class="text-sm">@row.Media.Title</p>
                            </div>
                        </CellTemplate>
                    </K7DataColumn>
                    <K7DataColumn TItem="CollectionBrowseRow" Title="@L["Year"]" SortKey="releaseDate" Width="100px" VisibleOnMobile="false" Property="row => row.Media.ReleaseDate?.Year" />
                    <K7DataColumn TItem="CollectionBrowseRow" Title="@S["Actions"]" Width="88px" Hideable="false">
                        <CellTemplate Context="row">
                            @{
                                var vm = row.Media.ToCardViewModel(ApiClient, n => string.Format(S["SeasonNumber"], n));
                            }
                            @if (vm is not null)
                            {
                                <div @onclick:stopPropagation="true">
                                    <LibraryBrowseRowActions Model="vm"
                                                              Href="@GetItemHref(vm)"
                                                              OverlayEnabled="true"
                                                              ProgressEnabled="_canTrackProgress"
                                                              WatchedStatusEnabled="_canTrackProgress"
                                                              ExcludeMenuEnabled="_canExclude"
                                                              WatchStateMenuEnabled="_canSetWatchState"
                                                              IsAdmin="_isAdmin"
                                                              OnRemove="() => RemoveItemAsync(row)"
                                                              RemoveAriaLabel="@S["Remove"]"
                                                              OnExcludeForSelf="() => ExcludeForSelf(vm)"
                                                              OnExcludeForOthers="() => ExcludeForOthers(vm)"
                                                              OnWatchStateChanged="StateHasChanged" />
                                </div>
                            }
                        </CellTemplate>
                    </K7DataColumn>
                </K7DataTable>
            </TableContent>

            <ListTemplate Context="row">

                @{

                    var vm = row.Media.ToCardViewModel(ApiClient, n => string.Format(S["SeasonNumber"], n));

                }

                <LibraryListItem Item="row.Media" Href="@GetLiteItemHref(row.Media)">

                    <Actions>

                        @if (vm is not null)

                        {

                            <LibraryBrowseRowActions Model="vm"

                                                      Href="@GetItemHref(vm)"

                                                      OverlayEnabled="true"

                                                      ProgressEnabled="_canTrackProgress"

                                                      WatchedStatusEnabled="_canTrackProgress"

                                                      ExcludeMenuEnabled="_canExclude"

                                                      WatchStateMenuEnabled="_canSetWatchState"

                                                      IsAdmin="_isAdmin"

                                                      OnRemove="() => RemoveItemAsync(row)"

                                                      RemoveAriaLabel="@S["Remove"]"

                                                      OnExcludeForSelf="() => ExcludeForSelf(vm)"

                                                      OnExcludeForOthers="() => ExcludeForOthers(vm)"

                                                      OnWatchStateChanged="StateHasChanged" />

                        }

                    </Actions>

                </LibraryListItem>

            </ListTemplate>

        </BrowseView>

    </div>

}

