@page "/music/artists"
@inject IMediaService k7ServerService
@inject IK7ServerService apiClient
@inject IStringLocalizer<MusicArtists> L
<PageTitle>@L["PageTitle"]</PageTitle>

<BrowseView TItem="ArtistViewModel"
              Items="_artists"
              Loading="_loading"
              PersistenceKey="music-artists"
              DefaultItemWidth="160"
              DefaultSpacing="6"
              GridItemAspectRatio="1.4f">
    <ToolbarContent>
        <MudText Typo="Typo.h5">@L["PageTitle"]</MudText>
        <MudSpacer />
        <MudTextField T="string"
                      @bind-Value="_searchText"
                      Placeholder="@L["SearchPlaceholder"]"
                      Variant="Variant.Outlined"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Immediate="true"
                      DebounceInterval="400"
                      OnDebounceIntervalElapsed="OnSearchChanged"
                      Margin="Margin.Dense"
                      Style="max-width: 300px;" />
    </ToolbarContent>
    <LoadingContent>
        <MudGrid Style="max-width:100%;" Spacing="6" Justify="Justify.FlexStart" Class="pa-4">
            @for (var i = 0; i < 12; i++)
            {
                <MudItem>
                    <MudPaper Style="width: 160px;" Elevation="0">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Width="160px" Height="160px" />
                        <MudSkeleton Width="80%" Class="mt-2 mx-auto" />
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </LoadingContent>
    <EmptyContent>
        <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Class="pa-16">
            <MudIcon Icon="@Icons.Material.Outlined.PersonSearch" Style="font-size: 64px; opacity: 0.3;" />
            <MudText Typo="Typo.h6" Color="Color.Default" Style="opacity: 0.5;">@L["None"]</MudText>
        </MudStack>
    </EmptyContent>
    <GridTemplate Context="artist">
        <a href="@($"/music/artists/{artist.Id}")" class="artist-card-link">
            <MudPaper Class="artist-card" Elevation="0">
                @if (artist.PortraitUrl is not null)
                {
                    <MudImage Src="@artist.PortraitUrl"
                              Alt="@artist.Name"
                              Width="160" Height="160"
                              ObjectFit="ObjectFit.Cover"
                              Class="artist-avatar"
                              loading="lazy" />
                }
                else
                {
                    <MudAvatar Style="width: 160px; height: 160px; font-size: 48px;"
                               Color="Color.Dark">
                        @(artist.Name?[..1].ToUpperInvariant())
                    </MudAvatar>
                }
                <MudText Typo="Typo.subtitle2" Align="Align.Center" Class="mt-2 artist-name">@artist.Name</MudText>
            </MudPaper>
        </a>
    </GridTemplate>
</BrowseView>
