@page "/music/artists"
@inject IMediaService k7ServerService
@inject IK7ServerService apiClient
@inject IStringLocalizer<MusicArtists> L
<PageTitle>@L["PageTitle"]</PageTitle>

<BrowseView TItem="ArtistViewModel"
              Items="_artists"
              Loading="_loading"
              PersistenceKey="music-artists"
              DefaultItemWidth="160"
              DefaultSpacing="6"
              GridItemAspectRatio="1.4f">
    <ToolbarContent>
        <h5>@L["PageTitle"]</h5>
        <div class="flex-1"></div>
        <K7TextField TValue="string"
                      @bind-Value="_searchText"
                      Placeholder="@L["SearchPlaceholder"]"
                      Variant="outlined"
                      Adornment="start"
                      AdornmentName="magnifying-glass"
                      DebounceInterval="400"
                      OnDebounceIntervalElapsed="OnSearchChanged"
                      Style="max-width: 300px;" />
    </ToolbarContent>
    <LoadingContent>
        <div class="grid">
            @for (var i = 0; i < 12; i++)
            {
                <div>
                    <div class="surface">
                        <K7Skeleton Shape="circle" />
                        <K7Skeleton />
                    </div>
                </div>
            }
        </div>
    </LoadingContent>
    <EmptyContent>
        <div class="d-flex flex-col pa-16">
            <K7Icon Name=""user"Search" Style="font-size: 64px; opacity: 0.3;" />
            <h6 Color="default" Style="opacity: 0.5;">@L["None"]</h6>
        </div>
    </EmptyContent>
    <GridTemplate Context="artist">
        <a href="@($"/music/artists/{artist.Id}")" class="artist-card-link">
            <div class="surface artist-card">
                @if (artist.PortraitUrl is not null)
                {
                    <K7Image Src="@artist.PortraitUrl"
                              Alt="@artist.Name"
                              Width="160"
                              ObjectFit="cover"
                              Class="artist-avatar"
                              loading="lazy" />
                }
                else
                {
                    <K7Avatar Style="width: 160px; height: 160px; font-size: 48px;">
                        @(artist.Name?[..1].ToUpperInvariant())
                    </K7Avatar>
                }
                <p class="text-subtitle2 mt-2 artist-name text-center">@artist.Name</p>
            </div>
        </a>
    </GridTemplate>
</BrowseView>
