@page "/music/artists/{Id}"
@using K7.Shared.Dtos.Entities.Medias
@inject IMediaService k7ServerService
@inject IK7ServerService apiClient
@inject IStringLocalizer<MusicArtistDetail> L
@inject IStringLocalizer<SharedResource> S
<PageTitle>@_person?.Name</PageTitle>
@if (_person is not null)
{
    <div class="artist-detail-page">
        @if (_portraitUrl is not null)
        {
            <div class="artist-hero-bg" style="background-image: url('@_portraitUrl')"></div>
        }

        <div class="grid">
            <div>
                <div class="d-flex flex-col pa-4">
                    @if (_portraitUrl is not null)
                    {
                        <K7Image Src="@_portraitUrl"
                                  Alt="@_person.Name"
                                  Class="artist-portrait"
                                  Fluid="true"
                                  ObjectFit="cover" />
                    }
                    else
                    {
                        <K7Avatar Style="width: 200px; height: 200px; font-size: 64px;">
                            @(_person.Name?[..1].ToUpperInvariant())
                        </K7Avatar>
                    }
                </div>
            </div>
            <div>
                <div class="d-flex flex-col pa-4">
                    <div class="d-flex">
                        <h4>@_person.Name</h4>
                        <button type="button" class="k7-icon-btn" Name="user" Href="@($"/persons/{_person.Id}")" Size="sm" title="@L["ViewPerson"]" ></button>
                    </div>
                    @if (!string.IsNullOrEmpty(_person.Biography))
                    {
                        <div class="overview-container">
                            <span class="@(_overviewExpanded ? "overview-expanded" : "overview-collapsed")">@_person.Biography</span>
                        </div>
                        <K7Button Variant="text"
                                   Size="sm"
                                   EndIcon="@(_overviewExpanded ? "caret-up" : "caret-down")"
                                   OnClick="() => _overviewExpanded = !_overviewExpanded">
                            @(_overviewExpanded ? L["ShowLess"] : L["ShowMore"])
                        </K7Button>
                    }
                </div>
            </div>

            @if (_albums.Count > 0)
            {
                <div>
                    <Carousel Title="@L["AlbumsSection"]">
                        @foreach (var album in _albums)
                        {
                            <CarouselItem @key="album.Id">
                                <MediaCard Model="album" Variant="MediaCardVariant.Cover" Href="@($"/music/albums/{album.Id}")" FooterVisible="true" />
                            </CarouselItem>
                        }
                    </Carousel>
                </div>
            }

            @if (_tracks.Count > 0)
            {
                <div>
                    <h6>@L["TracksSection"]</h6>
                    <K7Table Items="_tracks"
                              TItem="TrackViewModel"
                              OnRowClick="@(args => OnTrackClick(args))"
                              RowClass="cursor-pointer">
                        <HeaderContent>
                            <th Style="width: 40px;">#</th>
                            <th>@S["Title"]</th>
                            <th>Album</th>
                            <th Style="width: 80px;">@S["Duration"]</th>
                        </HeaderContent>
                        <RowTemplate>
                            <td>
                                @if (context.IsPlaying)
                                {
                                    <K7Icon Name="equalizer" Size="sm" Color="primary" />
                                }
                                else
                                {
                                    @context.TrackNumber
                                }
                            </td>
                            <td>
                                <span Style="@(context.IsPlaying ? "color: var(--color-accent);" : "")">@context.Title</span>
                            </td>
                            <td>
                                <p class="text-sm" Color="secondary">@context.AlbumTitle</p>
                            </td>
                            <td>
                                <p class="text-sm" Color="secondary">@FormatTime(context.Duration)</p>
                            </td>
                        </RowTemplate>
                    </K7Table>
                </div>
            }
        </div>
    </div>
}
else if (_loading)
{
    <div class="d-flex flex-col pa-16">
        <K7Spinner />
    </div>
}
