@using K7.Clients.Shared.Enums
@typeparam TItem
@inject IStringLocalizer<SharedResource> S

<div class="browse-view">
    <div class="browse-view-toolbar">
        <div class="browse-view-toolbar-start">
            @ToolbarContent
        </div>
        <div class="browse-view-toolbar-end">
            @if (_availableModes.Count > 1)
            {
                @foreach (var mode in _availableModes)
                {
                    var m = mode;
                    <K7IconButton OnClick="() => SetViewModeAsync(m)" AriaLabel="@GetModeIcon(m)" Icon="@GetModeIcon(m)" />
                }
            }
            @if (_currentMode is BrowseViewMode.Grid)
            {
                <K7IconButton OnClick="() => _settingsOpen = !_settingsOpen" AriaLabel="settings" Icon="@Phosphor.SlidersHorizontal" />
            }
        </div>
    </div>

    @if (_settingsOpen && _currentMode is BrowseViewMode.Grid)
    {
        <div class="browse-view-settings">
            <label class="browse-view-settings-label">@S["ItemSize"]: @_itemWidth px</label>
            <K7Slider TValue="int" Value="_itemWidth" ValueChanged="OnItemWidthChanged" Step="10" Class="mx-4" />
            <label class="browse-view-settings-label">@S["Spacing"]: @_spacing px</label>
            <K7Slider TValue="int" Value="_spacing" ValueChanged="OnSpacingChanged" Step="2" Class="mx-4" />
        </div>
    }

    @if (Loading)
    {
        @if (LoadingContent is not null)
        {
            @LoadingContent
        }
        else
        {
            <div class="d-flex flex-col pa-16">
                <K7Spinner />
            </div>
        }
    }
    else if (IsEmpty)
    {
        @if (EmptyContent is not null)
        {
            @EmptyContent
        }
        else
        {
            <div class="d-flex flex-col pa-16">
                <K7Icon Icon="@Phosphor.MagnifyingGlass" Style="font-size: 64px; opacity: 0.3;" />
            </div>
        }
    }
    else
    {
        @switch (_currentMode)
        {
            case BrowseViewMode.Grid when GridTemplate is not null:
                @if (UseProvider)
                {
                    <K7VirtualGrid TItem="TItem"
                                   ItemsProvider="ItemsProvider"
                                   ItemWidth="_itemWidth"
                                   Spacing="_spacing"
                                   AspectRatio="GridItemAspectRatio"
                                   FooterHeight="GridFooterHeight"
                                   OverscanCount="OverscanCount"
                                   @ref="_gridComponentRef">
                        <ItemTemplate>@GridTemplate(context)</ItemTemplate>
                        <Placeholder>@GridPlaceholder</Placeholder>
                    </K7VirtualGrid>
                }
                else
                {
                    <K7VirtualGrid TItem="TItem"
                                   Items="Items"
                                   ItemWidth="_itemWidth"
                                   Spacing="_spacing"
                                   AspectRatio="GridItemAspectRatio"
                                   FooterHeight="GridFooterHeight"
                                   OverscanCount="OverscanCount"
                                   @ref="_gridComponentRef">
                        <ItemTemplate>@GridTemplate(context)</ItemTemplate>
                    </K7VirtualGrid>
                }
                break;

            case BrowseViewMode.Table:
                @if (TableContent is not null)
                {
                    @TableContent
                }
                else if (TableHeaderContent is not null && TableRowTemplate is not null)
                {
                    <div class="browse-view-table">
                        <table class="browse-view-table-el">
                            <thead>
                                <tr>
                                    @TableHeaderContent
                                </tr>
                            </thead>
                            <tbody>
                                <Virtualize Items="Items" Context="item" ItemSize="48" OverscanCount="10">
                                    @TableRowTemplate(item)
                                </Virtualize>
                            </tbody>
                        </table>
                    </div>
                }
                break;

            case BrowseViewMode.List when ListTemplate is not null:
                @if (UseProvider)
                {
                    <K7VirtualList TItem="TItem"
                                   ItemsProvider="ItemsProvider"
                                   ItemHeight="ListItemHeight"
                                   OverscanCount="OverscanCount"
                                   @ref="_listComponentRef">
                        <ItemTemplate>@ListTemplate(context)</ItemTemplate>
                        <Placeholder>@ListPlaceholder</Placeholder>
                    </K7VirtualList>
                }
                else
                {
                    <K7VirtualList TItem="TItem"
                                   Items="Items"
                                   ItemHeight="ListItemHeight"
                                   OverscanCount="OverscanCount"
                                   @ref="_listComponentRef">
                        <ItemTemplate>@ListTemplate(context)</ItemTemplate>
                    </K7VirtualList>
                }
                break;
        }

        @if (!UseProvider && HasMore && OnLoadMore is not null)
        {
            <div class="browse-view-sentinel" @ref="_sentinelRef">
                <K7Spinner />
            </div>
        }
    }
</div>
