@namespace K7.Clients.Shared.UI.Components

<div class="k7-alert k7-alert--@Severity.ToString().ToLower() @(Variant == "outlined" ? "k7-alert--outlined" : "") @Class" role="alert">
    @if (!NoIcon && !string.IsNullOrEmpty(Icon))
    {
        <K7Icon Icon="@Icon"  IconSize="@K7IconSize.Md" />
    }
    <div>@ChildContent</div>
</div>
