@namespace K7.Clients.Shared.UI.Components
@using K7.Shared
@using System.Globalization

<K7Select TValue="string" Value="@Value" ValueChanged="@ValueChanged" Label="@Label" Variant="@Variant" Class="@Class" Style="@Style" Disabled="Disabled">
    <SelectedContent>
        @{ var selected = Languages.FirstOrDefault(l => l.Code == Value); }
        @if (selected is not null)
        {
            <span class="fi fi-@selected.CountryCode"></span>
            @GetDisplayText(selected)
        }
    </SelectedContent>
    <ChildContent>
        @foreach (var lang in Languages)
        {
            <K7SelectItem TValue="string" Value="@lang.Code" Text="@GetDisplayText(lang)">
                <span class="fi fi-@lang.CountryCode"></span> @GetDisplayText(lang)
            </K7SelectItem>
        }
    </ChildContent>
</K7Select>
