@inject IStringLocalizer<MediaCardContextMenu> L

@if (ShowRating)
{
    <div class="track-context-rating" @onclick:stopPropagation="true">
        <RatingStars MediaId="_mediaId" Value="Model.UserRating" Size="sm" />
    </div>
}
@if (ShowPlay)
{
    <K7MenuItem Icon="play" OnClick="OnPlay">@L["Play"]</K7MenuItem>
}
@if (ShowWatchState)
{
    <K7MenuItem Icon="check-circle" OnClick="ToggleWatchStateAsync">
        @(Model.Watched ? L["MarkAsUnwatched"] : L["MarkAsWatched"])
    </K7MenuItem>
}
@if (ExcludeMenuEnabled)
{
    <K7MenuItem Icon="eye-slash" OnClick="OnExcludeForSelf">@L["HideForMe"]</K7MenuItem>
    @if (IsAdmin)
    {
        <K7MenuItem Icon="circle" OnClick="OnExcludeForOthers">@L["HideForUser"]</K7MenuItem>
    }
}
@if (ShowPlaylist || ShowCollection)
{
    <hr class="k7-divider" />
    @if (ShowPlaylist)
    {
        <K7MenuItem Icon="plus-circle" OnClick="AddToPlaylistAsync">@L["AddToPlaylist"]</K7MenuItem>
    }
    @if (ShowCollection)
    {
        <K7MenuItem Icon="folders" OnClick="AddToCollectionAsync">@L["AddToCollection"]</K7MenuItem>
    }
}
