@if (Skeleton)
{
    <MudPaper Style="background-color:transparent;" Elevation="0">
        <div class="media-item-container">
            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Class="rounded-lg" Height="100%" Width="100%" />
        </div>

        @if (FooterVisible)
        {
            <div class="media-item-text">
                <MudStack AlignItems="AlignItems.Center" Spacing="0">
                    <MudSkeleton Animation="Animation.Wave" Height="100%" Width="80%" />
                    <MudSkeleton Animation="Animation.Wave" Height="100%" Width="50%" />
                </MudStack>
            </div>
        }
    </MudPaper>
}
else
{
    <MudPaper Style="background-color:transparent;" Elevation="0">
        <div class="media-item-container">
            <a class="media-item-link" href="@("/movies/" + Model.Id)">
                <MudImage Src="@Model.PosterPictureHref" Alt="@Model.Title" Class="rounded-lg" Style="height: 100%;" Elevation="1" Fluid="true" ObjectFit="ObjectFit.Cover" />

                @if (WatchedStatusEnabled && Model.Watched)
                {
                    <div class="media-item-watched">
                        <MudIcon Size="Size.Small" class="ma-1" Color="Color.Success" Icon="@Icons.Material.Filled.CheckCircle" />
                    </div>
                }

                @if (ProgressEnabled && !ProgressBarIsHidden())
                {
                    <div class="media-item-progress-bar">
                        <MudProgressLinear Size="Size.Small" Rounded="true" Color="Color.Primary" Value="@Model.Progress" />
                    </div>
                }

                @if (OverlayEnabled)
                {
                    <div class="media-item-overlay">
                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.PlayArrow" tabindex="-1" />
                    </div>
                }
            </a>

            @if (_canExclude)
            {
                <div class="media-item-overlay-more">
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert" Color="Color.Primary" Dense="true" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                        <MudMenuItem Icon="@Icons.Material.Filled.VisibilityOff" OnClick="OnExcludeForSelf">Masquer pour moi</MudMenuItem>
                        @if (_isAdmin)
                        {
                            <MudMenuItem Icon="@Icons.Material.Filled.PeopleAlt" OnClick="OnExcludeForOthers">Masquer pour un utilisateur</MudMenuItem>
                        }
                    </MudMenu>
                </div>
            }
        </div>

        @if (FooterVisible)
        {
            <div class="media-item-text">
                <MudStack AlignItems="AlignItems.Center" Spacing="0">
                    <MudText Class="media-item-text" Typo="Typo.body2">@Model.Title</MudText>
                    <MudText Class="media-item-text" Typo="Typo.caption">@Model.AdditionalInformations</MudText>
                </MudStack>
            </div>
        }

    </MudPaper>
}
