@inject IStringLocalizer<MediaCard> L

@if (Skeleton)
{
    <div class="media-card @VariantClass">
        <div class="media-card-container">
            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Class="rounded-lg" Height="100%" Width="100%" />
        </div>

        @if (FooterVisible)
        {
            <div class="media-card-footer">
                <MudStack AlignItems="AlignItems.Center" Spacing="0">
                    <MudSkeleton Animation="Animation.Wave" Height="100%" Width="80%" />
                    <MudSkeleton Animation="Animation.Wave" Height="100%" Width="50%" />
                </MudStack>
            </div>
        }
    </div>
}
else
{
    <div class="media-card @VariantClass">
        <div class="media-card-container">
            <a class="media-card-link" href="@Href">
                @if (!string.IsNullOrEmpty(Model.PictureUrl))
                {
                    <MudImage Src="@Model.PictureUrl" Alt="@Model.Title" Class="rounded-lg" Style="height: 100%;" Elevation="1" Fluid="true" ObjectFit="ObjectFit.Cover" loading="lazy" />
                }
                else
                {
                    <div class="media-card-placeholder rounded-lg">
                        <MudIcon Icon="@PlaceholderIcon" Style="font-size: 48px; opacity: 0.3;" />
                    </div>
                }

                @if (WatchedStatusEnabled && Model.Watched)
                {
                    <div class="media-card-watched">
                        <MudIcon Size="Size.Small" class="ma-1" Color="Color.Success" Icon="@Icons.Material.Filled.CheckCircle" />
                    </div>
                }

                @if (Model.GroupCount > 1)
                {
                    <div class="media-card-group-count">
                        <MudChip Size="Size.Small" T="int" Color="Color.Dark" Variant="MudBlazor.Variant.Filled">@Model.GroupCount</MudChip>
                    </div>
                }

                @if (ProgressEnabled && !ProgressBarIsHidden())
                {
                    <div class="media-card-progress-bar">
                        <MudProgressLinear Size="Size.Small" Rounded="true" Color="Color.Primary" Value="@Model.Progress" />
                    </div>
                }

                @if (OverlayEnabled)
                {
                    <div class="media-card-overlay">
                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.PlayArrow" tabindex="-1" />
                    </div>
                }
            </a>

            @if (ExcludeMenuEnabled)
            {
                <div class="media-card-menu">
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert" Color="Color.Primary" Dense="true" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                        <MudMenuItem Icon="@Icons.Material.Filled.VisibilityOff" OnClick="OnExcludeForSelf">@L["HideForMe"]</MudMenuItem>
                        @if (IsAdmin)
                        {
                            <MudMenuItem Icon="@Icons.Material.Filled.PeopleAlt" OnClick="OnExcludeForOthers">@L["HideForUser"]</MudMenuItem>
                        }
                    </MudMenu>
                </div>
            }
        </div>

        @if (FooterVisible)
        {
            <div class="media-card-footer">
                <MudStack AlignItems="AlignItems.Center" Spacing="0">
                    <MudText Class="media-card-title" Typo="Typo.body2">@Model.Title</MudText>
                    <MudText Class="media-card-subtitle" Typo="Typo.caption">@Model.AdditionalInformations</MudText>
                </MudStack>
            </div>
        }
    </div>
}
