@using System.Globalization

<div class="seekbar-container"
@onmousemove="HandleMouseMove"
@onmouseleave="() => IsHovering = false"
@onpointerdown="OnPointerDown"
@onpointermove="OnPointerMove"
@onpointerup="OnPointerUp"
@onpointercancel="OnPointerUp"
@ref="SeekBarRef">

    @if (!Chapters.Any())
    {
        <div class="seekbar-track">
            <div class="progress" style="width: @CurrentPercent.ToString(CultureInfo.InvariantCulture)%"></div>
            @if (IsHovering)
            {
                <div class="hover" style="width: @HoverPercent.ToString(CultureInfo.InvariantCulture)%"></div>
            }
            <div class="buffered" style="width: @BufferedPercent.ToString(CultureInfo.InvariantCulture)%"></div>
        </div>
    }
    else
    {
        @for (int i = 0; i < Chapters.Count; i++)
        {
            var chapterStart = Chapters[i].Start;
            var chapterEnd = (i + 1 < Chapters.Count) ? Chapters[i + 1].Start : PlayerService.Duration;
            var chapterDuration = chapterEnd - chapterStart;

            var left = chapterStart / PlayerService.Duration * 100;
            var width = chapterDuration / PlayerService.Duration * 100;

            var gap = 0.2;

            var adjustedLeft = left + (i > 0 ? gap / 2 : 0);
            var adjustedWidth = width - (i > 0 ? gap / 2 : 0) - (i + 1 < Chapters.Count ? gap / 2 : 0);

            var progressPercent = Math.Clamp((PlayerService.CurrentTime - chapterStart) / chapterDuration * 100, 0, 100);
            var bufferPercent = Math.Clamp((PlayerService.BufferedTime - chapterStart) / chapterDuration * 100, 0, 100);
            var hoverPercent = Math.Clamp((HoverTime - chapterStart) / chapterDuration * 100, 0, 100);

            <div class="chapter-segment-container"
            style="left: @adjustedLeft.ToString(CultureInfo.InvariantCulture)%; width: @adjustedWidth.ToString(CultureInfo.InvariantCulture)%">

                <div class="chapter-segment">
                    <div class="chapter-progress" style="width: @progressPercent.ToString(CultureInfo.InvariantCulture)%"></div>
                    @if (IsHovering)
                    {
                        <div class="chapter-hover" style="width: @hoverPercent.ToString(CultureInfo.InvariantCulture)%"></div>
                    }
                    <div class="chapter-buffered" style="width: @bufferPercent.ToString(CultureInfo.InvariantCulture)%"></div>
                </div>
            </div>
        }
    }

    @if (IsHovering)
    {
        <div class="thumb" style="left: @CurrentPercent.ToString(CultureInfo.InvariantCulture)%"></div>

        <div class="thumbnail" style="left: @HoverPercent.ToString(CultureInfo.InvariantCulture)%">
            @if (ThumbnailsUri != null)
            {
                <div class="thumbnail-image" style="@GetSpriteStyle(HoverTime)"></div>

            }
            @if (Chapters.Any())
            {
                var hoveredChapter = GetHoveredChapter(HoverTime);
                @if (hoveredChapter is not null)
                {
                    <div class="thumbnail-chapter-title">@hoveredChapter.Title</div>
                }
            }
            <div class="thumbnail-time">@GetHumanReadableTime(HoverTime)</div>
        </div>
    }
</div>
