@using K7.Clients.Shared.Models
@using K7.Clients.Shared.Mappings
@using K7.Shared.Dtos.Federation.Social
@inject IK7ServerService ApiClient

<div class="social-user-profile__media-card-wrap">
    <MediaCard Model="_viewModel"
               Href="@Href"
               Variant="MediaCardVariant.Cover"
               FooterVisible="true"
               ContextMenuEnabled="false"
               HoverOverlayEnabled="true"
               PlaceholderIcon="@PlaceholderIcon">
        <CoverContent>
            <K7CoverMosaic ImageUrls="_displayUrls"
                           PreferPreviewWhenEmpty="true"
                           PlaceholderIcon="@PlaceholderIcon"
                           PictureSize="MetadataPictureSize.Medium"
                           Alt="@_viewModel.Title"
                           Class="media-card-mosaic" />
        </CoverContent>
    </MediaCard>

    @if (ShowCopyButton)
    {
        <K7IconButton Icon="@Phosphor.Copy"
                      Size="sm"
                      Class="social-user-profile__media-card-copy focusable"
                      AriaLabel="@CopyAriaLabel"
                      OnClick="OnCopy" />
    }
</div>
