@inject IAudioPlayerService Audio
@inject IMediaService K7ServerService
@inject IK7ServerService ApiClient
@inject IFeatureAccessService FeatureAccess
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IStringLocalizer<TrackContextMenu> L
@inject IStringLocalizer<SharedResource> S

<span @onclick:stopPropagation="true">
    <MudMenu Icon="@Icons.Material.Filled.MoreVert" Size="Size.Small" Dense="true">
        <MudMenuItem Icon="@Icons.Material.Filled.PlaylistPlay" OnClick="PlayNext">@L["PlayNext"]</MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Filled.QueueMusic" OnClick="AddToQueue">@L["AddToQueue"]</MudMenuItem>
        @if (_canCreatePlaylist)
        {
            <MudDivider />
            <MudMenuItem Icon="@Icons.Material.Filled.PlaylistAdd" OnClick="AddToPlaylist">@L["AddToPlaylist"]</MudMenuItem>
        }
        @if (!string.IsNullOrEmpty(Track.Artist))
        {
            <MudDivider />
            <MudMenuItem Icon="@Icons.Material.Filled.Radio" OnClick="RadioArtist">@string.Format(L["RadioArtist"], Track.Artist)</MudMenuItem>
        }
        @if (!string.IsNullOrEmpty(Track.Genre))
        {
            <MudMenuItem Icon="@Icons.Material.Filled.Sensors" OnClick="RadioGenre">@string.Format(L["RadioGenre"], Track.Genre)</MudMenuItem>
        }
    </MudMenu>
</span>
