@inject IAudioPlayerService Audio
@inject IMediaService K7ServerService
@inject IK7ServerService ApiClient
@inject IFeatureAccessService FeatureAccess
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<span @onclick:stopPropagation="true">
    <MudMenu Icon="@Icons.Material.Filled.MoreVert" Size="Size.Small" Dense="true">
        <MudMenuItem Icon="@Icons.Material.Filled.PlaylistPlay" OnClick="PlayNext">Jouer ensuite</MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Filled.QueueMusic" OnClick="AddToQueue">Ajouter à la queue</MudMenuItem>
        @if (_canCreatePlaylist)
        {
            <MudDivider />
            <MudMenuItem Icon="@Icons.Material.Filled.PlaylistAdd" OnClick="AddToPlaylist">Ajouter à une playlist</MudMenuItem>
        }
        @if (!string.IsNullOrEmpty(Track.Artist))
        {
            <MudDivider />
            <MudMenuItem Icon="@Icons.Material.Filled.Radio" OnClick="RadioArtist">Radio @Track.Artist</MudMenuItem>
        }
        @if (!string.IsNullOrEmpty(Track.Genre))
        {
            <MudMenuItem Icon="@Icons.Material.Filled.Sensors" OnClick="RadioGenre">Radio @Track.Genre</MudMenuItem>
        }
    </MudMenu>
</span>
