@inject IStringLocalizer<AddToPlaylistDialog> L
@inject IStringLocalizer<SharedResource> S

<div class="k7-dialog-content">
        @if (_loading)
        {
            <K7ProgressBar Indeterminate="true" />
        }
        else if (_playlists.Count == 0)
        {
            <div class="d-flex flex-col pa-4">
                <p Color="secondary">@L["Empty"]</p>
                <K7Button Variant="filled" Color="primary" OnClick="CreateNewPlaylist">
                    @L["CreatePlaylist"]
                </K7Button>
            </div>
        }
        else
        {
            <ul class="k7-list">
                @foreach (var playlist in _playlists)
                {
                    <li T="LitePlaylistDto" OnClick="() => SelectPlaylist(playlist)">
                        <div class="d-flex align-center">
                            <K7Icon Name="queue" Color="primary" />
                            <div class="d-flex flex-col">
                                <span>@playlist.Title</span>
                                <span class="text-caption" Color="secondary">@string.Format(L["TrackCount"], playlist.ItemCount)</span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <hr class="k7-divider my-2" />
            <K7Button Variant="text"
                       Color="primary"
                       StartIcon="plus"
                       OnClick="CreateNewPlaylist">
                @L["NewPlaylist"]
            </K7Button>
        }
    </div>
    <div class="k7-dialog-actions">
        <K7Button OnClick="Cancel">@S["Cancel"]</K7Button>
    </div>
