@using K7.Clients.Shared.Models
@using K7.Clients.Shared.Interfaces
@using K7.Server.Domain.Enums
@using K7.Shared.Dtos
@using K7.Shared.Dtos.Entities.Medias
@inject IStringLocalizer<AmbianceRadioDialog> L
@inject IServerPreferencesService ServerPreferences
@inject IMusicRadioPlaybackService MusicRadio
@inject IK7Snackbar Snackbar

<div class="k7-dialog-content">
    <div class="d-flex flex-col gap-4 pa-4">
        @if (_loading)
        {
            <K7Spinner />
        }
        else if (_presets.Count == 0)
        {
            <p Color="secondary">@L["NoMoods"]</p>
        }
        else
        {
            <K7Select TValue="string" Value="_selectedPresetKey" ValueChanged="OnPresetKeyChanged" Label="@L["MoodLabel"]" Variant="outlined">
                @foreach (var preset in _presets)
                {
                    var key = GetPresetKey(preset);
                    var label = GetPresetLabel(preset);
                    <K7SelectItem TValue="string" Value="@key" Text="@label">@label</K7SelectItem>
                }
            </K7Select>

            @if (_selectedPreset?.TopTags is not null)
            {
                <span class="text-caption ambiance-mood-tags">@_selectedPreset.TopTags</span>
            }
        }

        <div class="d-flex gap-2 justify-end">
            <K7Button OnClick="Cancel" Variant="K7ButtonVariant.Text">@L["Cancel"]</K7Button>
            <K7Button OnClick="PlayAsync" Variant="K7ButtonVariant.Filled" Disabled="_selectedPreset is null || _playing">
                @if (_playing)
                {
                    <K7Spinner Size="16" />
                }
                else
                {
                    @L["Play"]
                }
            </K7Button>
        </div>
    </div>
</div>
