@inject IStringLocalizer<ChangePasswordDialog> L
@inject IStringLocalizer<SharedResource> S

<div class="k7-dialog-content">
    <div class="d-flex flex-col gap-2 mt-2">
        @if (_hasPassword)
        {
            <K7TextField @bind-Value="_currentPassword" Label="@L["CurrentPassword"]" Type="password" />
        }
        <K7TextField @bind-Value="_newPassword" Label="@L["NewPassword"]" Type="password" />
        <K7TextField @bind-Value="_confirmPassword" Label="@L["ConfirmNewPassword"]" Type="password" />
        @if (_error is not null)
        {
            <K7Alert Severity="K7Severity.Error">@_error</K7Alert>
        }
    </div>
</div>
<div class="k7-dialog-actions">
    <K7Button OnClick="Cancel">@S["Cancel"]</K7Button>
    @if (_hasPassword && _canRemovePassword)
    {
        <K7Button Color="error" Variant="outlined" OnClick="RemovePassword">@L["RemovePassword"]</K7Button>
    }
    <K7Button Color="primary" Variant="filled" OnClick="Submit" Disabled="@(!CanSubmit)">@S["Ok"]</K7Button>
</div>
