@inject IStringLocalizer<PasswordConfirmDialog> L
@inject IStringLocalizer<SharedResource> S

<div class="k7-dialog-content">
    <div class="d-flex flex-col mt-2">
        <p>@L["EnterPassword"]</p>
        <K7TextField @bind-Value="_password"
                      Label="@L["PasswordLabel"]"
                      Type="password"
                      Variant="outlined"
                      OnKeyUp="OnKeyUp" />
    </div>
</div>
<div class="k7-dialog-actions">
    <K7Button OnClick="Cancel">@S["Cancel"]</K7Button>
    <K7Button Color="primary"
               Variant="filled"
               OnClick="Submit"
               Disabled="@string.IsNullOrEmpty(_password)">
        @S["Ok"]
    </K7Button>
</div>
