@inject IStringLocalizer<PinDialog> L
@inject IStringLocalizer<SharedResource> S

<div class="k7-dialog-content">
        <div class="d-flex flex-col mt-2">
            <p>@((MarkupString)string.Format(L["EnterForUser"], UserName))</p>
            <K7TextField @ref="_pinField"
                          @bind-Value="_pin"
                          Label="@L["PinLabel"]"
                          Type="password"
                          Variant="outlined"
                          MaxLength="10"
                          OnKeyUp="OnKeyUp"
                          UserAttributes="@(new Dictionary<string, object> { ["inputmode"] = "numeric", ["pattern"] = "[0-9]*" })" />
        </div>
    </div>
    <div class="k7-dialog-actions">
        <K7Button OnClick="Cancel">@S["Cancel"]</K7Button>
        <K7Button Color="primary"
                   Variant="filled"
                   OnClick="Submit"
                   Disabled="@string.IsNullOrEmpty(_pin)">
            @S["Ok"]
        </K7Button>
    </div>
