@using K7.Shared.Dtos.Requests
@inject IStringLocalizer<MergeUserDialog> L
@inject IStringLocalizer<SharedResource> S

<div class="k7-dialog-content">
        <div class="d-flex flex-col mt-2">
            <K7Alert Severity="K7Severity.Warning">
                @L["Warning"]
            </K7Alert>

            <p>
                @string.Format(L["Description"], SourceDisplayName)
            </p>

            <K7Select TValue="Guid?" @bind-Value="_targetUserId" Label="@L["TargetUser"]" Variant="outlined">
                @foreach (var user in _availableTargets)
                {
                    var userLabel = user.UserName ?? user.Email ?? user.Id.ToString();
                    <K7SelectItem TValue="Guid?" Value="@user.Id" Text="@userLabel">@userLabel</K7SelectItem>
                }
            </K7Select>

            <hr class="k7-divider" />
            <p class="text-subtitle2">@L["MergeStrategyTitle"]</p>

            <K7Select TValue="PlayCountMergeMode" @bind-Value="_playCountMode" Label="@L["PlayCount"]"
                       Variant="outlined">
                <K7SelectItem Value="PlayCountMergeMode.Additive" Text="@L["PlayCountAdditive"]">@L["PlayCountAdditive"]</K7SelectItem>
                <K7SelectItem Value="PlayCountMergeMode.Max" Text="@L["PlayCountMax"]">@L["PlayCountMax"]</K7SelectItem>
            </K7Select>

            <K7Select TValue="RatingConflictMode" @bind-Value="_ratingMode" Label="@L["RatingConflict"]"
                       Variant="outlined">
                <K7SelectItem Value="RatingConflictMode.KeepExisting" Text="@L["RatingKeepExisting"]">@L["RatingKeepExisting"]</K7SelectItem>
                <K7SelectItem Value="RatingConflictMode.Overwrite" Text="@L["RatingOverwrite"]">@L["RatingOverwrite"]</K7SelectItem>
            </K7Select>

            <K7Select TValue="ProgressConflictMode" @bind-Value="_progressMode" Label="@L["ProgressConflict"]"
                       Variant="outlined">
                <K7SelectItem Value="ProgressConflictMode.MostRecent" Text="@L["ProgressMostRecent"]">@L["ProgressMostRecent"]</K7SelectItem>
                <K7SelectItem Value="ProgressConflictMode.AlwaysOverwrite" Text="@L["ProgressAlwaysOverwrite"]">@L["ProgressAlwaysOverwrite"]</K7SelectItem>
            </K7Select>
        </div>
    </div>
    <div class="k7-dialog-actions">
        <K7Button OnClick="Cancel">@L["Cancel"]</K7Button>
        <K7Button Color="warning" Variant="filled" OnClick="Submit"
                   Disabled="@(!_targetUserId.HasValue || _isSubmitting)">
            @if (_isSubmitting)
            {
                <K7Spinner Size="sm" />
            }
            @L["Merge"]
        </K7Button>
    </div>
