@using K7.Clients.Shared.Interfaces
@using K7.Clients.Shared.Models
@using K7.Server.Domain.Enums
@using K7.Shared.Dtos.Entities
@using K7.Shared.Dtos.Requests
@using K7.Shared.Interfaces
@inject IStringLocalizer<PeerSettingsDialog> L
@inject IStringLocalizer<SharedResource> S
@inject ILibraryService LibraryService
@inject IFederationService FederationService

<div class="k7-dialog-content">
    <div class="peer-settings__field">
        <K7TextField @bind-Value="_baseUrl"
                     Label="@L["BaseUrlLabel"]"
                     Variant="outlined"
                     Placeholder="http://server:8080" />
    </div>

    <div class="peer-settings__field">
        <K7Switch @bind-Value="_autoAdd" Label="@L["AutoAddNewLibraries"]" />
    </div>

    @if (Peer?.IsProvider == true)
    {
    <div class="peer-settings__section">
        <span class="peer-settings__label">@L["SharedLibrariesLabel"]</span>
        @if (_isLoading)
        {
            <span>@S["Loading"]</span>
        }
        else if (_libraries.Count == 0)
        {
            <span class="peer-settings__empty">@L["NoLibraries"]</span>
        }
        else
        {
            <div class="peer-settings__list">
                @foreach (var library in _libraries)
                {
                    <div class="peer-settings__list-row">
                        <K7Switch Value="_selectedIds.Contains(library.Id)"
                                  ValueChanged="_ => ToggleLibrary(library.Id)"
                                  Label="@library.Title" />
                        @if (_selectedIds.Contains(library.Id))
                        {
                            <K7Switch Class="peer-settings__sub-row"
                                      Value="_shareHistoryIds.Contains(library.Id)"
                                      ValueChanged="_ => ToggleShareHistory(library.Id)"
                                      Label="@L["SharePlaybackHistory"]" />
                        }
                    </div>
                }
            </div>
        }
    </div>
    }
    else if (Peer is not null)
    {
    <div class="peer-settings__section">
        <span class="peer-settings__label">@L["IntegratedLibrariesLabel"]</span>
        @if (_isLoading)
        {
            <span>@S["Loading"]</span>
        }
        else if (_inboundAgreements.Count == 0)
        {
            <span class="peer-settings__empty">@L["NoLibraries"]</span>
        }
        else
        {
            <K7CheckboxList TItem="PeerShareAgreementDto"
                            Items="_inboundAgreements"
                            IsChecked="@(a => _enabledInboundIds.Contains(a.Id))"
                            CheckedChanged="@(e => ToggleInbound(e.Item.Id))"
                            ItemLabel="@(a => a.LibraryTitle ?? a.LibraryId.ToString())"
                            Class="peer-settings__list" />
        }
    </div>
    }

    @if (Peer is not null)
    {
    <div class="peer-settings__section">
        <span class="peer-settings__label">@L["SocialAgreementsLabel"]</span>
        <div class="peer-settings__social-grid">
            <span></span>
            <span class="peer-settings__social-col">@L["Outbound"]</span>
            <span class="peer-settings__social-col">@L["Inbound"]</span>
            @foreach (var contentType in _socialContentTypes)
            {
                var agreement = GetSocialAgreement(contentType);
                <span>@GetContentTypeLabel(contentType)</span>
                <K7Switch Value="agreement.AllowOutbound" ValueChanged="v => SetSocialOutbound(contentType, v)" />
                <K7Switch Value="agreement.AllowInbound" ValueChanged="v => SetSocialInbound(contentType, v)" />
            }
        </div>
    </div>
    }
</div>
<div class="k7-dialog-actions">
    <K7Button OnClick="Cancel">@S["Cancel"]</K7Button>
    <K7Button Variant="filled" Color="primary" OnClick="Submit">@S["Save"]</K7Button>
</div>
