@page "/library-groups/{id}"
@using K7.Clients.Shared.Enums
@using K7.Clients.Shared.Mappings
@using K7.Server.Domain.Enums
@using K7.Shared.Dtos.Entities.Medias
@inject IMediaService k7ServerService
@inject IK7ServerService apiClient
@inject ILibraryService LibraryService
@inject IStringLocalizer<LibraryGroup> L
@inject IStringLocalizer<SharedResource> S

<PageTitle>@string.Format(L["PageTitle"].Value, Id)</PageTitle>

<BrowseView TItem="LiteMediaDto"
            ItemsProvider="ProvideMediasAsync"
            Loading="_loading"
            @ref="_browseView"
            PersistenceKey="@($"library-{Id}")"
            DefaultItemWidth="160"
            DefaultSpacing="24"
            Class="library-group-browse"
            GridItemAspectRatio="GridAspectRatio"
            JumpIndexLabels="JumpLabels"
            OnJumpRequested="OnJumpRequested"
            OnColumnPickerRequested="OnColumnPickerRequested">
    <ToolbarContent>
        @if (_availableMediaTypes.Count > 1)
        {
            <K7ButtonGroup TValue="MediaType"
                           Options="_mediaTypeOptions"
                           Value="_selectedMediaType"
                           ValueChanged="OnMediaTypeFilterChanged"
                           AriaLabel="@L["MediaTypeFilter"]" />
        }
        <K7Select TValue="MediaOrderingOption" Class="library-toolbar-sort" Value="_selectedSort" ValueChanged="OnSortChanged">
            @foreach (var opt in SortOptions)
            {
                <K7SelectItem Value="@opt" Text="@GetSortLabel(opt)">@GetSortLabel(opt)</K7SelectItem>
            }
        </K7Select>
        <LibraryBrowseFilters Tags="_tags"
                               LibraryIds="_libraryIds?.ToArray()"
                               LibraryGroupIds="_libraryGroupIds"
                               Filter="_filter"
                               FilterChanged="OnFilterChanged"
                               MediaType="_selectedMediaType"
                               ShowWatchFilters="_showWatchFilters" />
        <span class="library-toolbar-count">@string.Format(L["ItemCount"], _totalCount)</span>
    </ToolbarContent>
    <GridTemplate Context="item">
        @{
            var vm = item.ToCardViewModel(apiClient, n => string.Format(S["SeasonNumber"], n));
        }
        @if (vm is not null)
        {
            <MediaCard Model="vm" Variant="@GetVariant(item)" Href="@GetItemHref(item)" OverlayEnabled="true" ProgressEnabled="true" WatchedStatusEnabled="true" WatchStateMenuEnabled="_canSetWatchState" FooterVisible="true" />
        }
    </GridTemplate>
    <GridPlaceholder>
        <K7Skeleton Shape="rect" Width="100%" Height="0" Style="aspect-ratio: 2 / 3;" />
    </GridPlaceholder>
    <TableContent>
        <K7DataTable TItem="LiteMediaDto"
                     ServerData="LoadTableDataAsync"
                     ActiveSortKey="@_activeSortKey"
                     ActiveSortDirection="@_activeSortDirection"
                     OnSortChanged="OnTableSortChanged"
                     OnRowClick="NavigateToItem"
                     ShowToolbar="false"
                     @ref="_dataTable">
            <K7DataColumn TItem="LiteMediaDto" Title="@L["Title"]" SortKey="title" Hideable="false">
                <CellTemplate Context="item">
                    <div class="library-table-title">
                        @{
                            var poster = item.Pictures?.FirstOrDefault(p => p.Type == MetadataPictureType.Poster) ?? item.Pictures?.FirstOrDefault();
                            var thumbUrl = apiClient.GetAbsoluteUri(poster?.GetUri(MetadataPictureSize.Small)?.OriginalString)?.AbsoluteUri;
                        }
                        @if (thumbUrl is not null)
                        {
                            <K7Image Src="@thumbUrl" Alt="@item.Title" Width="40" ObjectFit="cover" Class="rounded" loading="lazy" />
                        }
                        <p class="text-sm">@item.Title</p>
                    </div>
                </CellTemplate>
            </K7DataColumn>
            <K7DataColumn TItem="LiteMediaDto" Title="@L["Year"]" SortKey="releaseDate" Width="80px" VisibleOnMobile="false" Property="item => item.ReleaseDate?.Year" />
            <K7DataColumn TItem="LiteMediaDto" Title="@L["Rating"]" SortKey="localRating" Width="120px" VisibleOnMobile="false">
                <CellTemplate Context="item">
                    <div class="library-table-stars">
                        @{ var stars = item.UserRating is > 0 ? (int)Math.Ceiling(item.UserRating.Value / 2.0) : 0; }
                        @for (var i = 1; i <= 5; i++)
                        {
                            <K7Icon Icon="@(i <= stars ? Phosphor.Fill.Star : Phosphor.Star)" Size="xs" Style="@(i <= stars ? "color: var(--color-accent);" : "color: var(--color-text-muted); opacity: 0.4;")" />
                        }
                    </div>
                </CellTemplate>
            </K7DataColumn>
            <K7DataColumn TItem="LiteMediaDto" Title="@L["Status"]" VisibleOnMobile="true">
                <CellTemplate Context="item">
                    @if (item.UserState?.ProgressPercentage is > 0 and < 100)
                    {
                        <K7ProgressBar Value="@(item.UserState.ProgressPercentage)" />
                    }
                    else if (item.UserState?.IsCompleted ?? false)
                    {
                        <K7Icon Icon="@Phosphor.CheckCircle" Color="success" Size="sm" />
                    }
                    else
                    {
                        <span class="text-muted">-</span>
                    }
                </CellTemplate>
            </K7DataColumn>
            <K7DataColumn TItem="LiteMediaDto" Title="@L["PlayCount"]" SortKey="playCount" Width="100px" VisibleOnMobile="false" Visible="false">
                <CellTemplate Context="item">
                    <span>@(item.UserState?.PlayCount > 0 ? item.UserState.PlayCount.ToString() : "-")</span>
                </CellTemplate>
            </K7DataColumn>
            <K7DataColumn TItem="LiteMediaDto" Title="@L["DateAdded"]" SortKey="created" Width="120px" VisibleOnMobile="false" Visible="false">
                <CellTemplate Context="item">
                    <span>@(item.Created?.ToString("d") ?? "-")</span>
                </CellTemplate>
            </K7DataColumn>
        </K7DataTable>
    </TableContent>
    <ListTemplate Context="item">
        <LibraryListItem Item="item" Href="@GetItemHref(item)" />
    </ListTemplate>
    <ListPlaceholder>
        <K7Skeleton Shape="rect" Width="100%" Height="64px" />
    </ListPlaceholder>
</BrowseView>
