@page "/library/{id}"
@inject IMediaService k7ServerService
@inject IK7ServerService apiClient
@inject IStringLocalizer<Library> L

<PageTitle>@string.Format(L["PageTitle"].Value, Id)</PageTitle>

<MediaBrowser TItem="MediaCardViewModel"
              Items="MediaCards"
              Loading="_loading"
              PersistenceKey="@($"library-{Id}")"
              DefaultItemWidth="160"
              DefaultSpacing="6"
              GridItemAspectRatio="1.8f">
    <ToolbarContent>
        <span>@MediaCards.Count items</span>
        <MudIconButton Icon="@Icons.Material.Outlined.SortByAlpha" />
        <MudIconButton Icon="@Icons.Material.Outlined.FilterList" />
    </ToolbarContent>
    <GridTemplate Context="item">
        <MediaCard Model="item" Href="@($"/movies/{item.Id}")" OverlayEnabled="true" ProgressEnabled="true" WatchedStatusEnabled="true" FooterVisible="true" />
    </GridTemplate>
</MediaBrowser>

