@page "/persons/{id}"
@inject IMediaService k7ServerService
@inject IK7ServerService apiClient
<PageTitle>@_person?.Name</PageTitle>
<MudBreakpointProvider OnBreakpointChanged="ScreenResized" />

@if (_person != null)
{
    <div class="background" style="--background-picture: url(@apiClient.GetAbsoluteUri(_person.PortraitPicture?.GetUri(Server.Domain.Enums.MetadataPictureSize.Medium)?.OriginalString)?.AbsoluteUri)" />
    <div>
        <MudGrid Justify="Justify.SpaceEvenly" Style="max-width:100%;" Spacing="0">
            <MudItem xs="12" sm="4" lg="1">
                <MudStack AlignItems="AlignItems.Center">
                    @if (_person.PortraitPicture is not null)
                    {
                        <MudImage Src="@apiClient.GetAbsoluteUri(_person.PortraitPicture?.GetUri(Server.Domain.Enums.MetadataPictureSize.Medium)?.OriginalString)?.AbsoluteUri" Alt="@_person.Name" Class="rounded-lg" Style="max-width: 220px;" Fluid="true" ObjectFit="ObjectFit.Cover" />
                    }
                    else
                    {
                        <MudImage Src="_content/K7.Clients.Shared.UI/images/person-placeholder.png" Alt="@_person.Name" Fluid="true" ObjectFit="ObjectFit.Cover" />
                    }
                </MudStack>
            </MudItem>
            <MudItem xs="12" sm="6" lg="5">
                <MudStack AlignItems="@(_isSmallDevice ? AlignItems.Center : AlignItems.Start)">
                    <MudText Typo="Typo.h4">@_person.Name</MudText>
                    <MudStack>
                        <div class="overview-container mx-4">
                            <MudText Class="@(_overviewExpanded ? "" : "overview-collapsed")">@_person.Biography</MudText>
                        </div>
                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                            <MudButton Variant="Variant.Text" Size="Size.Small" EndIcon="@(_overviewExpanded ? @Icons.Material.Filled.KeyboardArrowUp : @Icons.Material.Filled.KeyboardArrowDown)" OnClick="ToggleOverview">@(_overviewExpanded ? "Less" : "More")</MudButton>
                        </MudStack>
                    </MudStack>
                </MudStack>
            </MudItem>
            <MudItem xs="12" sm="12" lg="12">
                @if (_movies != null)
                {
                    <Carousel Title="Movies">
                        @foreach (var movie in _movies)
                        {
                            <CarouselItem @key="movie.Id">
                                <MediaCard Model="movie" Href="@($"/movies/{movie.Id}")" OverlayEnabled="true" ProgressEnabled="true" WatchedStatusEnabled="true" FooterVisible="true" />
                            </CarouselItem>
                        }
                    </Carousel>
                }
            </MudItem>
        </MudGrid>
    </div>
}
