@page "/select-user"
@layout EmptyLayout
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@inject IStringLocalizer<SelectUser> L

<PageTitle>@L["PageTitle"]</PageTitle>

<div class="select-user-page">
    @if (_loading)
    {
        <div class="d-flex flex-col align-center gap-4">
            <K7Spinner />
            @if (_showOfflineButton)
            {
                <K7Button Variant="text" Color="secondary" OnClick="ContinueOfflineAsync">
                    <K7Icon Icon="@Phosphor.WifiSlash" Class="mr-2" />
                    @L["ContinueOffline"]
                </K7Button>
            }
        </div>
    }
    else
    {
        <Carousel Title="@L["PageTitle"]">
            @foreach (var user in _users)
            {
                <CarouselItem @key="user.IdentityUserId">
                    <div class="select-user-card focusable my-2"
                         tabindex="0" role="button"
                         @onclick="() => SelectUserAsync(user)"
                         @onkeydown="(e) => OnUserKeyDown(e, user)">
                        <K7Avatar Class="ma-2" Size="xl" Color="primary"
                                  Image="@user.AvatarUrl"
                                  Letter="@GetInitial(user)"
                                  UserId="@user.UserId" />
                        <div class="select-user-name">
                            <span>@(user.DisplayName ?? user.UserName)</span>
                            @if (user.PinHash is not null)
                            {
                                <K7Icon Name="lock" IconSize="@K7IconSize.Sm" Color="secondary" />
                            }
                        </div>
                    </div>
                </CarouselItem>
            }

            @foreach (var group in _groups)
            {
                <CarouselItem @key="group.Id">
                    <div class="select-user-card select-user-card--group focusable my-2"
                         tabindex="0" role="button"
                         @onclick="() => SelectGroupAsync(group)"
                         @oncontextmenu="(e) => OnGroupContextMenu(e, group)"
                         @oncontextmenu:preventDefault="true"
                         @onkeydown="(e) => OnGroupKeyDown(e, group)">
                        <div class="select-user-group-avatars">
                            @foreach (var member in group.Members.Take(3))
                            {
                                <K7Avatar Size="md" Image="@member.AvatarUrl"
                                          Letter="@GetMemberInitial(member)"
                                          UserId="@member.UserId" />
                            }
                        </div>
                        <div class="select-user-name">
                            <span>@group.Name</span>
                            @if (group.HasPin)
                            {
                                <K7Icon Name="lock" IconSize="@K7IconSize.Sm" Color="secondary" />
                            }
                        </div>
                    </div>
                </CarouselItem>
            }

            <CarouselItem>
                <div class="select-user-card focusable my-2"
                     tabindex="0" role="button"
                     @onclick="CreateGroupAsync"
                     @onkeydown="OnCreateGroupKeyDown">
                    <K7Avatar Class="ma-2" Size="xl" Color="default">
                        <K7Icon Icon="@Phosphor.UsersThree" IconSize="@K7IconSize.Lg" />
                    </K7Avatar>
                    <span class="select-user-name">@L["CreateViewingGroup"]</span>
                </div>
            </CarouselItem>

            <CarouselItem>
                <div class="select-user-card focusable my-2"
                     tabindex="0" role="button"
                     @onclick="AddUserAsync"
                     @onkeydown="OnAddUserKeyDown">
                    <K7Avatar Class="ma-2" Size="xl" Color="default">
                        <K7Icon Icon="@Phosphor.Plus" IconSize="@K7IconSize.Lg" />
                    </K7Avatar>
                    <span class="select-user-name">@L["AddServer"]</span>
                </div>
            </CarouselItem>
        </Carousel>

        @if (_users.Count > 0)
        {
            <div class="select-user-switch">
                <K7Switch Class="ma-4" Value="_singleUserMode" ValueChanged="OnSingleUserModeChanged"
                           Label="@L["SingleUserMode"]" />
            </div>
        }
    }
</div>
