@page "/select-user"
@layout EmptyLayout
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@inject IStringLocalizer<SelectUser> L

<PageTitle>@L["PageTitle"]</PageTitle>

<div class="select-user-page">
    @if (_loading)
    {
        <K7Spinner />
    }
    else
    {
        <Carousel Title="@L["PageTitle"]">
            @foreach (var user in _users)
            {
                <CarouselItem @key="user.IdentityUserId">
                    <div class="select-user-card focusable my-2"
                         tabindex="0" role="button"
                         @onclick="() => SelectUserAsync(user)"
                         @onkeydown="(e) => OnUserKeyDown(e, user)">
                        <K7Avatar Class="ma-2" Size="xl" Color="primary">
                            @GetInitials(user.UserName)
                        </K7Avatar>
                        <div class="select-user-name">
                            <span>@user.UserName</span>
                            @if (user.PinHash is not null)
                            {
                                <K7Icon Name="lock" Size="sm" Color="secondary" />
                            }
                        </div>
                    </div>
                </CarouselItem>
            }

            <CarouselItem>
                <div class="select-user-card focusable my-2"
                     tabindex="0" role="button"
                     @onclick="AddUserAsync"
                     @onkeydown="OnAddUserKeyDown">
                    <K7Avatar Class="ma-2" Size="xl" Color="default">
                        <K7Icon Icon="@Phosphor.Plus" Size="lg" />
                    </K7Avatar>
                    <span class="select-user-name">@L["AddServer"]</span>
                </div>
            </CarouselItem>
        </Carousel>

        @if (_users.Count > 0)
        {
            <div class="select-user-switch">
                <K7Switch Class="ma-4" Value="_singleUserMode" ValueChanged="OnSingleUserModeChanged"
                           Label="@L["SingleUserMode"]" />
            </div>
        }
    }
</div>
