@page "/settings/general"
@layout SettingsLayout
@inject ThemeService ThemeService
@inject IDeviceService DeviceService
@inject IK7ServerService ApiClient
@inject IStringLocalizer<Settings> L
@inject IStringLocalizer<SharedResource> S
@inject IK7DialogService DialogService
@inject IServerConnectionService ServerConnectionService
@inject ISyncPlayService SyncPlay

<PageTitle>@L["PageTitle"]</PageTitle>

<h4 class="mb-4">@L["PageTitle"]</h4>

<div class="pa-4">
    <K7Select TValue="ThemeDefinition" Label="@L["Theme"]" @bind-Value="@ThemeService.Theme" ToStringFunc="@(t => t?.Name)">
        @foreach (var theme in Themes.Collection)
        {
            <K7SelectItem Value="@theme">@theme?.Name</K7SelectItem>
        }
    </K7Select>

    @if (DeviceService.GetClientType() == Server.Domain.Enums.ClientType.Web)
    {
        <K7TextField @bind-Value="@_backendUrl" Label="@L["ServerUrl"]" ReadOnly="true" Variant="text" />
    }
    else
    {
        <K7TextField @bind-Value="@_backendUrl" Label="@L["ServerUrl"]" ReadOnly="true" Variant="text" Adornment="end" AdornmentIcon="@Phosphor.Trash" OnAdornmentClick="ChangeBackendUrl" />
    }

    <span>@L["FormFactor"]: @_deviceType</span>
    <span>@L["Hdr"]: @_hdrSupport</span>

    <div class="k7-expansion-panels">
        <K7ExpansionPanel Text="@L["SupportedCodecs"]">
            <ul>
                @if (_supportedMediaFormats != null)
                {
                    foreach (var supportedMediaFormat in _supportedMediaFormats)
                    {
                        <li>@supportedMediaFormat.Id</li>
                    }
                }
                else
                {
                    <p>Loading...</p>
                }
            </ul>
        </K7ExpansionPanel>
    </div>

    <AuthorizeView Roles="User,Administrator">
        <section class="d-flex flex-col gap-3 mt-6">
            <h6>SyncPlay</h6>
            <K7Switch Label="@L["SyncPlayEnabled"]" @bind-Value="SyncPlay.IsEnabled" />
        </section>
    </AuthorizeView>
</div>
