@page "/sign-in"
@layout EmptyLayout
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@inject IStringLocalizer<Welcome> L
@inject IStringLocalizer<SharedResource> S

<PageTitle>@L["PageTitle"]</PageTitle>

<div class="container">
    <div class="surface pa-8">
        <div class="d-flex flex-col">
            <h4>K7</h4>
            <p Color="secondary">
                @L["WelcomeHeading"]
            </p>

            <hr class="k7-divider my-2" />

            @if (_loading)
            {
                <K7Spinner />
                <p class="text-sm" Color="secondary">@L["SignInPrompt"]</p>
            }
            else if (_error is not null)
            {
                <K7Alert Severity="K7Severity.Error" Variant="filled" Class="mt-2 w-full">
                    @_error
                </K7Alert>
                <K7Button Variant="filled" Color="primary" Size="lg" OnClick="SignInAsync">
                    @S["TryAgain"]
                </K7Button>
            }
            else
            {
                @if (_serverInfoError is not null)
                {
                    <K7Alert Severity="K7Severity.Warning" Variant="text" Class="mt-2 w-full">
                        @_serverInfoError
                    </K7Alert>
                }

                <K7Button @ref="_signInButton" Variant="filled" Color="primary" Size="lg" OnClick="SignInAsync">
                    @S["SignIn"]
                </K7Button>

                @if (_guestEnabled)
                {
                    <K7Button Variant="outlined" Color="default" Size="lg" OnClick="ContinueAsGuestAsync">
                        @S["Guest"]
                    </K7Button>
                }
            }
        </div>
    </div>
</div>
