@inject IServerInfoService K7ServerService
@inject IStringLocalizer<PlaybackHistory> L

<div class="history-page">
    <div class="history-toolbar">
        <h5 class="history-title-heading">@L["PageTitle"]</h5>
        <K7ButtonGroup TValue="string" Options="_mediaTypeOptions" Value="_selectedMediaType" ValueChanged="OnMediaTypeChanged" AriaLabel="@L["PageTitle"]" />
    </div>

    <div class="history-table-area">
        <K7DataTable @key="_tableKey" TItem="PlaybackHistoryItemDto" ServerData="LoadServerDataAsync" @ref="_tableRef">
            <K7DataColumn TItem="PlaybackHistoryItemDto" Title="@L["Title"]" Property="@(i => i.MediaTitle)" Hideable="false" />
            <K7DataColumn TItem="PlaybackHistoryItemDto" Title="@L["Type"]" Property="@(i => i.MediaType)" VisibleOnMobile="false" />
            <K7DataColumn TItem="PlaybackHistoryItemDto" Title="@L["Date"]" Property="@(i => i.StartedAt.ToLocalTime().ToString("g"))" />
            <K7DataColumn TItem="PlaybackHistoryItemDto" Title="@L["Duration"]">
                <CellTemplate>@FormatDuration(context.TotalWatchedSeconds)</CellTemplate>
            </K7DataColumn>
            <K7DataColumn TItem="PlaybackHistoryItemDto" Title="@L["Device"]" Property="@(i => i.DeviceName ?? "-")" VisibleOnMobile="false" />
            <K7DataColumn TItem="PlaybackHistoryItemDto" Title="@L["Status"]" Width="80px" VisibleOnMobile="false">
                <CellTemplate>
                    @if (context.IsCompleted)
                    {
                        <K7Icon Icon="@Phosphor.CheckCircle" Style="color: var(--color-success);" Size="sm" />
                    }
                    else
                    {
                        <K7Icon Icon="@Phosphor.PauseCircle" Style="color: var(--color-warning);" Size="sm" />
                    }
                </CellTemplate>
            </K7DataColumn>
        </K7DataTable>
    </div>
</div>
