@page "/devices"

<h3>My Devices</h3>

@if (isLoading)
{
    <p>Loading...</p>
}
else
{
    if (devices != null)
    {
        if (devices.TotalCount == 0)
        {
            <p>No devices found.</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Client</th>
                        <th>OS</th>
                        <th>Last Seen</th>
                        <th>Users</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in devices.Items!)
                    {
                        <tr>
                            <td>@d.Id</td>
                            <td>@d.DeviceName</td>
                            <td>@d.ClientType</td>
                            <td>@d.OperatingSystem @d.OperatingSystemVersion</td>
                            <td>@d.LastSeen.LocalDateTime</td>
                            <td>@d.Users.Count()</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}
