@page "/movies/{id}"
<PageTitle>@_movie?.Title</PageTitle>
    <MudBreakpointProvider OnBreakpointChanged="ScreenResized" />
    <div class="background" style="--background-picture: url(@_movie!.BackgroundPicture)" />

<div>
    <MudGrid Justify="Justify.SpaceEvenly" Style="max-width:100%;" Spacing="0">
        <MudItem xs="12" sm="4" lg="1">
            <MudStack AlignItems="AlignItems.Center">
                <MediaPoster MediaItem="@_movie" />
            </MudStack>
        </MudItem>
        <MudItem xs="12" sm="6" lg="5">
            <MudStack AlignItems="@(_isSmallDevice ? AlignItems.Center : AlignItems.Start)">
                <MudText Typo="Typo.h4">@_movie!.Title</MudText>
                <MudStack Row="true">
                    <MudText Typo="Typo.caption">@_movie!.AdditionalInformations</MudText>
                    <MudText Typo="Typo.caption">@_movie!.Duration</MudText>
                </MudStack>
                <MudStack Row="true">
                    <MudRating SelectedValue="@_movie!.Rating" />
                </MudStack>
                <MudStack Row="true">
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.PlayArrow" Color="Color.Primary">Play</MudButton>
                    <MudIconButton Icon="@Icons.Material.Filled.LocalMovies" aria-label="trailer"></MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.CheckCircle" aria-label="mark-as-shown"></MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="edit"></MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.MoreHoriz" aria-label="more-actions"></MudIconButton>
                </MudStack>
                <MudStack>
                    <div class="overview-container mx-4">
                        <MudText Class="@(_overviewExpanded ? "" : "overview-collapsed")">@_movie!.Synopsis</MudText>
                    </div>
                    <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                        <MudButton Variant="Variant.Text" Size="Size.Small" EndIcon="@(_overviewExpanded ? @Icons.Material.Filled.KeyboardArrowUp : @Icons.Material.Filled.KeyboardArrowDown)" OnClick="ToggleOverview">@(_overviewExpanded ? "Less" : "More")</MudButton>
                    </MudStack>
                </MudStack>
            </MudStack>
        </MudItem>
        <MudItem xs="12" sm="12" lg="12">
            <HorizontalScrollableStack Title="Casting">
                @for (int i = 0; i < 10; i++)
                {
                    <HorizontalScrollableStackItem>
                        <MudAvatar Style="height:100px; width:100px;">
                            <MudImage Src="https://mudblazor.com/images/mony.jpg" Alt="Mony the dog" />
                        </MudAvatar>
                    </HorizontalScrollableStackItem>
                }
            </HorizontalScrollableStack>
        </MudItem>
    </MudGrid>
    
</div>