@page "/admin/general"
@layout AdminLayout
@inject IStringLocalizer<AdminGeneralPanel> L

@if (_isLoading)
{
    <K7ProgressBar Indeterminate="true" />
}
else
{
    <div class="d-flex flex-col pa-4">
        <div>
            <K7Select TValue="string" Label="@L["DefaultLanguage"]" Value="@_defaultLanguage" ValueChanged="OnDefaultLanguageChanged">
                <K7SelectItem Value="@("fr")">Français</K7SelectItem>
                <K7SelectItem Value="@("en")">English</K7SelectItem>
            </K7Select>
            <span class="text-caption mt-1" Color="secondary">@L["DefaultLanguageHelp"]</span>
        </div>
    </div>
}
