@using System.Reflection
@using K7.Clients.Shared.UI.Pages.Utils
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(MauiSignIn).Assembly" AdditionalAssemblies="@_sharedAssemblies" NotFoundPage="typeof(K7.Clients.Shared.UI.Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(K7.Clients.Shared.UI.Layout.MainLayout)">
                <Authorizing>
                </Authorizing>
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated == true)
                    {
                        <div class="container">
                            <div class="d-flex flex-col">
                                <K7Icon Name="lock" IconSize="@K7IconSize.Lg" Color="warning" />
                                <h5>Access denied</h5>
                                <p Color="secondary">You don't have permission to access this page.</p>
                                <K7Button Href="/" Variant="filled" Color="primary">Go to Home</K7Button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <RedirectToLogin />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
    </Router>
</CascadingAuthenticationState>

@code {
    private static readonly Assembly[] _sharedAssemblies = [typeof(ISharedPagesPointer).Assembly];
}
